<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group biblio_code_invivo-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Autor -->
		<div class="form-group biblio_code_invivo-author" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Autor</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="author<%%RND1%%>"><%%COMBOTEXT(author)%%></span></div>
			</div>
		</div>
		<!-- Field: Bibliograf&#237;a -->
		<div class="form-group biblio_code_invivo-bibliography" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Bibliograf&#237;a</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="bibliography<%%RND1%%>"><%%COMBOTEXT(bibliography)%%></span></div>
			</div>
		</div>
		<!-- Field: Transcripci&#243;n -->
		<div class="form-group biblio_code_invivo-transcript" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Transcripci&#243;n</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="transcript<%%RND1%%>"><%%COMBOTEXT(transcript)%%></span></div>
			</div>
		</div>
		<!-- Field: Token_sequence -->
		<div class="form-group biblio_code_invivo-token_sequence" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Token_sequence</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="token_sequence<%%RND1%%>"><%%COMBOTEXT(token_sequence)%%></span></div>
			</div>
		</div>
		<!-- Field: Token -->
		<div class="form-group biblio_code_invivo-token" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Token</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="token<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Invivo -->
		<div class="form-group biblio_code_invivo-invivo" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Invivo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(invivo)%%></div>
			</div>
		</div>
		<!-- Field: Fecha inicio -->
		<div class="form-group biblio_code_invivo-start_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha inicio</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(start_date)%%></div>
			</div>
		</div>
		<!-- Field: Fecha fin -->
		<div class="form-group biblio_code_invivo-end_date" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Fecha fin</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(end_date)%%></div>
			</div>
		</div>
		<!-- Field: Persona(s) -->
		<div class="form-group biblio_code_invivo-person" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Persona(s)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(person)%%></div>
			</div>
		</div>
		<!-- Field: Lugar(es) -->
		<div class="form-group biblio_code_invivo-place" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Lugar(es)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(place)%%></div>
			</div>
		</div>
		<!-- Field: Etiquetas -->
		<div class="form-group biblio_code_invivo-tags" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Etiquetas</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(tags)%%></div>
			</div>
		</div>
		<!-- Field: Comentarios -->
		<div class="form-group biblio_code_invivo-comments" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comentarios</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(comments)%%></div>
			</div>
		</div>
		<!-- Field: Team -->
		<div class="form-group biblio_code_invivo-team" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Team</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="team<%%RND1%%>"><%%COMBOTEXT(team)%%></span></div>
			</div>
		</div>
		<!-- Field: Analista principal -->
		<div class="form-group biblio_code_invivo-biblio_lead" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Analista principal</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="biblio_lead<%%RND1%%>"><%%COMBOTEXT(biblio_lead)%%></span></div>
			</div>
		</div>
		<!-- Field: Evaluaci&#243;n de datos -->
		<div class="form-group biblio_code_invivo-data_evaluation" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Evaluaci&#243;n de datos</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="data_evaluation<%%RND1%%>"><%%COMBOTEXT(data_evaluation)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="biblio_code_invivo-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=biblio_code_invivo-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'biblio_code_invivo',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'biblio_code_invivo-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

