<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the biblio_analyst_init() hook (in hooks/biblio_analyst.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="biblio_analyst-id-<%%VALUE(id)%%>" class="biblio_analyst-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="biblio_analyst-team-<%%VALUE(id)%%>" class="biblio_analyst-team"><%%SELECT%%><%%VALUE(team)%%><%%ENDSELECT%%></td>
		<td id="biblio_analyst-author_id-<%%VALUE(id)%%>" class="biblio_analyst-author_id"><%%SELECT%%><%%VALUE(author_id)%%><%%ENDSELECT%%></td>
		<td id="biblio_analyst-last_name-<%%VALUE(id)%%>" class="biblio_analyst-last_name"><%%SELECT%%><%%VALUE(last_name)%%><%%ENDSELECT%%></td>
		<td id="biblio_analyst-first_name-<%%VALUE(id)%%>" class="biblio_analyst-first_name"><%%SELECT%%><%%VALUE(first_name)%%><%%ENDSELECT%%></td>
