<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the biblio_analyst_init() hook (in hooks/biblio_analyst.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="biblio_analyst-id-<%%VALUE(id)%%>" class="biblio_analyst-id text-right"><%%VALUE(id)%%></td>
		<td id="biblio_analyst-team-<%%VALUE(id)%%>" class="biblio_analyst-team"><%%VALUE(team)%%></td>
		<td id="biblio_analyst-author_id-<%%VALUE(id)%%>" class="biblio_analyst-author_id"><%%VALUE(author_id)%%></td>
		<td id="biblio_analyst-last_name-<%%VALUE(id)%%>" class="biblio_analyst-last_name"><%%VALUE(last_name)%%></td>
		<td id="biblio_analyst-first_name-<%%VALUE(id)%%>" class="biblio_analyst-first_name"><%%VALUE(first_name)%%></td>
