<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the biblio_code_demo_init() hook (in hooks/biblio_code_demo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="biblio_code_demo-game_agent-<%%VALUE(id)%%>" class="biblio_code_demo-game_agent"><%%VALUE(game_agent)%%></td>
		<td id="biblio_code_demo-author-<%%VALUE(id)%%>" class="biblio_code_demo-author"><%%VALUE(author)%%></td>
		<td id="biblio_code_demo-bibliography-<%%VALUE(id)%%>" class="biblio_code_demo-bibliography"><%%VALUE(bibliography)%%></td>
		<td id="biblio_code_demo-transcript-<%%VALUE(id)%%>" class="biblio_code_demo-transcript"><%%VALUE(transcript)%%></td>
		<td id="biblio_code_demo-token_id-<%%VALUE(id)%%>" class="biblio_code_demo-token_id"><%%VALUE(token_id)%%></td>
		<td id="biblio_code_demo-token-<%%VALUE(id)%%>" class="biblio_code_demo-token"><%%VALUE(token)%%></td>
		<td id="biblio_code_demo-sex-<%%VALUE(id)%%>" class="biblio_code_demo-sex"><%%VALUE(sex)%%></td>
		<td id="biblio_code_demo-race-<%%VALUE(id)%%>" class="biblio_code_demo-race"><%%VALUE(race)%%></td>
		<td id="biblio_code_demo-age-<%%VALUE(id)%%>" class="biblio_code_demo-age"><%%VALUE(age)%%></td>
		<td id="biblio_code_demo-religion-<%%VALUE(id)%%>" class="biblio_code_demo-religion"><%%VALUE(religion)%%></td>
		<td id="biblio_code_demo-party-<%%VALUE(id)%%>" class="biblio_code_demo-party"><%%VALUE(party)%%></td>
		<td id="biblio_code_demo-job-<%%VALUE(id)%%>" class="biblio_code_demo-job"><%%VALUE(job)%%></td>
		<td id="biblio_code_demo-status-<%%VALUE(id)%%>" class="biblio_code_demo-status"><%%VALUE(status)%%></td>
