<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the biblio_author_init() hook (in hooks/biblio_author.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="biblio_author-id-<%%VALUE(id)%%>" class="biblio_author-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-memberID-<%%VALUE(id)%%>" class="biblio_author-memberID"><%%SELECT%%><%%VALUE(memberID)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-img-<%%VALUE(id)%%>" class="biblio_author-img"><a href="<%%TRANSLATION(ImageFolder)%%><%%VALUE(img)%%>" data-lightbox="biblio_author-img"><img src="thumbnail.php?i=<%%VALUE(img)%%>&t=biblio_author&f=img&v=tv" class="img-thumbnail"></a></td>
		<td id="biblio_author-groupID-<%%VALUE(id)%%>" class="biblio_author-groupID"><%%SELECT%%><%%VALUE(groupID)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-selection_class-<%%VALUE(id)%%>" class="biblio_author-selection_class"><%%SELECT%%><%%VALUE(selection_class)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-agenttype1-<%%VALUE(id)%%>" class="biblio_author-agenttype1 text-right"><%%SELECT%%><%%VALUE(agenttype1)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-agenttype2-<%%VALUE(id)%%>" class="biblio_author-agenttype2 text-right"><%%SELECT%%><%%VALUE(agenttype2)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-gender-<%%VALUE(id)%%>" class="biblio_author-gender"><%%SELECT%%><%%VALUE(gender)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-last_name-<%%VALUE(id)%%>" class="biblio_author-last_name"><%%SELECT%%><%%VALUE(last_name)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-first_name-<%%VALUE(id)%%>" class="biblio_author-first_name"><%%SELECT%%><%%VALUE(first_name)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-other_name-<%%VALUE(id)%%>" class="biblio_author-other_name"><%%SELECT%%><%%VALUE(other_name)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-birthday-<%%VALUE(id)%%>" class="biblio_author-birthday"><%%SELECT%%><%%VALUE(birthday)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-birth_location-<%%VALUE(id)%%>" class="biblio_author-birth_location"><%%SELECT%%><%%VALUE(birth_location)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-birth_location_map-<%%VALUE(id)%%>" class="biblio_author-birth_location_map"><%%SELECT%%><img src="<%%GOOGLEMAPTHUMB(birth_location_map)%%>" style="max-width: 50px; max-height: 50px; " ><%%ENDSELECT%%></td>
		<td id="biblio_author-deathday-<%%VALUE(id)%%>" class="biblio_author-deathday"><%%SELECT%%><%%VALUE(deathday)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-death_location-<%%VALUE(id)%%>" class="biblio_author-death_location"><%%SELECT%%><%%VALUE(death_location)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-workplace-<%%VALUE(id)%%>" class="biblio_author-workplace"><%%SELECT%%><%%VALUE(workplace)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-knows-<%%VALUE(id)%%>" class="biblio_author-knows"><%%SELECT%%><%%VALUE(knows)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-data_evaluation-<%%VALUE(id)%%>" class="biblio_author-data_evaluation"><%%SELECT%%><%%VALUE(data_evaluation)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-authority_record-<%%VALUE(id)%%>" class="biblio_author-authority_record"><%%SELECT%%><%%VALUE(authority_record)%%><%%ENDSELECT%%></td>
		<td id="biblio_author-authority_organization-<%%VALUE(id)%%>" class="biblio_author-authority_organization text-right"><%%SELECT%%><%%VALUE(authority_organization)%%><%%ENDSELECT%%></td>
