<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the biblio_code_demo_init() hook (in hooks/biblio_code_demo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="biblio_code_demo-author-<%%VALUE(id)%%>" class="biblio_code_demo-author"><%%SELECT%%><%%VALUE(author)%%><%%ENDSELECT%%></td>
		<td id="biblio_code_demo-bibliography-<%%VALUE(id)%%>" class="biblio_code_demo-bibliography"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="biblio_code_demo-transcript-<%%VALUE(id)%%>" class="biblio_code_demo-transcript"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="biblio_code_demo-token_id-<%%VALUE(id)%%>" class="biblio_code_demo-token_id"><%%SELECT%%><%%VALUE(token_id)%%><%%ENDSELECT%%></td>
		<td id="biblio_code_demo-token-<%%VALUE(id)%%>" class="biblio_code_demo-token"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="biblio_code_demo-sex-<%%VALUE(id)%%>" class="biblio_code_demo-sex"><%%SELECT%%><%%VALUE(sex)%%><%%ENDSELECT%%></td>
		<td id="biblio_code_demo-race-<%%VALUE(id)%%>" class="biblio_code_demo-race"><%%SELECT%%><%%VALUE(race)%%><%%ENDSELECT%%></td>
		<td id="biblio_code_demo-age-<%%VALUE(id)%%>" class="biblio_code_demo-age"><%%SELECT%%><%%VALUE(age)%%><%%ENDSELECT%%></td>
