<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_storylines_init() hook (in hooks/bio_storylines.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_storylines-id-<%%VALUE(id)%%>" class="bio_storylines-id text-right"><%%VALUE(id)%%></td>
		<td id="bio_storylines-biography-<%%VALUE(id)%%>" class="bio_storylines-biography text-right"><%%VALUE(biography)%%></td>
		<td id="bio_storylines-author_id-<%%VALUE(id)%%>" class="bio_storylines-author_id"><%%VALUE(author_id)%%></td>
		<td id="bio_storylines-author_name-<%%VALUE(id)%%>" class="bio_storylines-author_name"><%%VALUE(author_name)%%></td>
		<td id="bio_storylines-bibliography-<%%VALUE(id)%%>" class="bio_storylines-bibliography"><%%VALUE(bibliography)%%></td>
		<td id="bio_storylines-transcript-<%%VALUE(id)%%>" class="bio_storylines-transcript"><%%VALUE(transcript)%%></td>
		<td id="bio_storylines-token_sequence-<%%VALUE(id)%%>" class="bio_storylines-token_sequence"><%%VALUE(token_sequence)%%></td>
		<td id="bio_storylines-token-<%%VALUE(id)%%>" class="bio_storylines-token"><%%VALUE(token)%%></td>
		<td id="bio_storylines-story_act-<%%VALUE(id)%%>" class="bio_storylines-story_act"><%%VALUE(story_act)%%></td>
		<td id="bio_storylines-sequence-<%%VALUE(id)%%>" class="bio_storylines-sequence"><%%VALUE(sequence)%%></td>
		<td id="bio_storylines-character-<%%VALUE(id)%%>" class="bio_storylines-character text-right"><%%VALUE(character)%%></td>
		<td id="bio_storylines-role-<%%VALUE(id)%%>" class="bio_storylines-role text-right"><%%VALUE(role)%%></td>
		<td id="bio_storylines-storyline_no-<%%VALUE(id)%%>" class="bio_storylines-storyline_no"><%%VALUE(storyline_no)%%></td>
		<td id="bio_storylines-parenthetic-<%%VALUE(id)%%>" class="bio_storylines-parenthetic"><%%VALUE(parenthetic)%%></td>
		<td id="bio_storylines-storyline_title-<%%VALUE(id)%%>" class="bio_storylines-storyline_title"><%%VALUE(storyline_title)%%></td>
		<td id="bio_storylines-storyline-<%%VALUE(id)%%>" class="bio_storylines-storyline"><%%VALUE(storyline)%%></td>
		<td id="bio_storylines-notes-<%%VALUE(id)%%>" class="bio_storylines-notes"><%%VALUE(notes)%%></td>
		<td id="bio_storylines-storyweaving_scene_no-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_scene_no text-right"><%%VALUE(storyweaving_scene_no)%%></td>
		<td id="bio_storylines-storyweaving_scene-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_scene text-right"><%%VALUE(storyweaving_scene)%%></td>
		<td id="bio_storylines-storyweaving_sequence-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_sequence text-right"><%%VALUE(storyweaving_sequence)%%></td>
		<td id="bio_storylines-storyweaving_theme-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_theme text-right"><%%VALUE(storyweaving_theme)%%></td>
		<td id="bio_storylines-character_scene-<%%VALUE(id)%%>" class="bio_storylines-character_scene text-right"><%%VALUE(character_scene)%%></td>
		<td id="bio_storylines-character_event-<%%VALUE(id)%%>" class="bio_storylines-character_event text-right"><%%VALUE(character_event)%%></td>
		<td id="bio_storylines-startdate-<%%VALUE(id)%%>" class="bio_storylines-startdate"><%%VALUE(startdate)%%></td>
		<td id="bio_storylines-enddate-<%%VALUE(id)%%>" class="bio_storylines-enddate"><%%VALUE(enddate)%%></td>
