<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_encounters_init() hook (in hooks/bio_encounters.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_encounters-id-<%%VALUE(id)%%>" class="bio_encounters-id text-right"><%%VALUE(id)%%></td>
		<td id="bio_encounters-authorA-<%%VALUE(id)%%>" class="bio_encounters-authorA text-right"><%%VALUE(authorA)%%></td>
		<td id="bio_encounters-author_nameA-<%%VALUE(id)%%>" class="bio_encounters-author_nameA text-right"><%%VALUE(author_nameA)%%></td>
		<td id="bio_encounters-bibliographyA-<%%VALUE(id)%%>" class="bio_encounters-bibliographyA text-right"><%%VALUE(bibliographyA)%%></td>
		<td id="bio_encounters-transcriptA-<%%VALUE(id)%%>" class="bio_encounters-transcriptA text-right"><%%VALUE(transcriptA)%%></td>
		<td id="bio_encounters-tokenA-<%%VALUE(id)%%>" class="bio_encounters-tokenA text-right"><%%VALUE(tokenA)%%></td>
		<td id="bio_encounters-sceneA-<%%VALUE(id)%%>" class="bio_encounters-sceneA text-right"><%%VALUE(sceneA)%%></td>
		<td id="bio_encounters-authorB-<%%VALUE(id)%%>" class="bio_encounters-authorB text-right"><%%VALUE(authorB)%%></td>
		<td id="bio_encounters-authornameB-<%%VALUE(id)%%>" class="bio_encounters-authornameB text-right"><%%VALUE(authornameB)%%></td>
		<td id="bio_encounters-bibliographyB-<%%VALUE(id)%%>" class="bio_encounters-bibliographyB text-right"><%%VALUE(bibliographyB)%%></td>
		<td id="bio_encounters-transcriptB-<%%VALUE(id)%%>" class="bio_encounters-transcriptB text-right"><%%VALUE(transcriptB)%%></td>
		<td id="bio_encounters-tokenB-<%%VALUE(id)%%>" class="bio_encounters-tokenB text-right"><%%VALUE(tokenB)%%></td>
		<td id="bio_encounters-sceneB-<%%VALUE(id)%%>" class="bio_encounters-sceneB text-right"><%%VALUE(sceneB)%%></td>
		<td id="bio_encounters-relation_description-<%%VALUE(id)%%>" class="bio_encounters-relation_description"><%%VALUE(relation_description)%%></td>
		<td id="bio_encounters-type-<%%VALUE(id)%%>" class="bio_encounters-type"><%%VALUE(type)%%></td>
		<td id="bio_encounters-conflicttype-<%%VALUE(id)%%>" class="bio_encounters-conflicttype"><%%VALUE(conflicttype)%%></td>
		<td id="bio_encounters-story_scene-<%%VALUE(id)%%>" class="bio_encounters-story_scene text-right"><%%VALUE(story_scene)%%></td>
		<td id="bio_encounters-nd_color-<%%VALUE(id)%%>" class="bio_encounters-nd_color text-right"><%%VALUE(nd_color)%%></td>
		<td id="bio_encounters-nd_width-<%%VALUE(id)%%>" class="bio_encounters-nd_width"><%%VALUE(nd_width)%%></td>
		<td id="bio_encounters-nd_style-<%%VALUE(id)%%>" class="bio_encounters-nd_style"><%%VALUE(nd_style)%%></td>
		<td id="bio_encounters-nd_opacity-<%%VALUE(id)%%>" class="bio_encounters-nd_opacity"><%%VALUE(nd_opacity)%%></td>
		<td id="bio_encounters-nd_visibility-<%%VALUE(id)%%>" class="bio_encounters-nd_visibility"><%%VALUE(nd_visibility)%%></td>
		<td id="bio_encounters-lbl_lable-<%%VALUE(id)%%>" class="bio_encounters-lbl_lable"><%%VALUE(lbl_lable)%%></td>
		<td id="bio_encounters-lbl_color-<%%VALUE(id)%%>" class="bio_encounters-lbl_color"><%%VALUE(lbl_color)%%></td>
		<td id="bio_encounters-lbl_size-<%%VALUE(id)%%>" class="bio_encounters-lbl_size"><%%VALUE(lbl_size)%%></td>
