<!-- To change the layout of the detail view form, we recommend using JS code in hooks/bio_story-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="bio_story_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
<div class="panel-body hidden" id="bio_story_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="bio_chr_view.php?filterer_bio_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="bio_chr_link"><i class="glyphicon glyphicon-list-alt"></i> Personajes de la biograf&#237;a</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="bio_chr_view.php?filterer_bio_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_bio_chr_link"><i class="glyphicon glyphicon-list-alt"></i> Personajes de la biograf&#237;a</a>
			<input type="hidden" id="bio_chr_hclink" value="bio_chr_view.php?filterer_bio_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="bio_chr_dev_hclink" value="bio_chr_dev_view.php?filterer_bio_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="bio_chr_scene_hclink" value="bio_chr_scene_view.php?filterer_biography=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="bio_storyline_view.php?filterer_biography=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="bio_storyline_link"><i class="glyphicon glyphicon-list-alt"></i> Trama biogr&#225;fica</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="bio_storyline_view.php?filterer_biography=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_bio_storyline_link"><i class="glyphicon glyphicon-list-alt"></i> Trama biogr&#225;fica</a>
			<input type="hidden" id="bio_storyline_hclink" value="bio_storyline_view.php?filterer_biography=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="bio_storystatic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="bio_storystatic_link"><i class="glyphicon glyphicon-list-alt"></i> Puntos est&#225;ticos de biograf&#237;a</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="bio_storystatic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_bio_storystatic_link"><i class="glyphicon glyphicon-list-alt"></i> Puntos est&#225;ticos de biograf&#237;a</a>
			<input type="hidden" id="bio_storystatic_hclink" value="bio_storystatic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="bio_storydynamic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="bio_storydynamic_link"><i class="glyphicon glyphicon-list-alt"></i> Puntos din&#225;micos de biograf&#237;a</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="bio_storydynamic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_bio_storydynamic_link"><i class="glyphicon glyphicon-list-alt"></i> Puntos din&#225;micos de biograf&#237;a</a>
			<input type="hidden" id="bio_storydynamic_hclink" value="bio_storydynamic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="bio_storyweaving_scene_hclink" value="bio_storyweaving_scene_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="bio_code_herme_hclink" value="bio_code_herme_view.php?filterer_biography=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="hist_chr_hclink" value="hist_chr_view.php?filterer_bio_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="hist_chr_dev_hclink" value="hist_chr_dev_view.php?filterer_bio_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="hist_chr_scene_hclink" value="hist_chr_scene_view.php?filterer_bio_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="hist_storydynamic_hclink" value="hist_storydynamic_view.php?filterer_bio_story_mc=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="hist_encounter_hclink" value="hist_encounter_view.php?filterer_bio_storyA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="bio_story_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group bio_story-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Equipo biogr&#225;fico -->
				<div class="form-group bio_story-bio_team">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="bio_team" data-parent_link="view_parent_modal">Equipo biogr&#225;fico</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(bio_team)%%><%%PLINK(bio_team)%%><%%ADDNEW(bio_team)%%></div>
					</div>
				</div>

				<!-- Field: ID de bi&#243;grafo -->
				<div class="form-group bio_story-author_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="author_id" data-parent_link="view_parent_modal">ID de bi&#243;grafo <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#author_id-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="author_id-description"><div class="alert alert-info bspacer-xs">El autor principal que escribe la biograf&#237;a.</div></span>
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(author_id)%%><%%PLINK(author_id)%%><%%ADDNEW(bio_author)%%><span id="author_idLoading"></span></div>
					</div>
				</div>

				<!-- Field: Nombre del autor -->
				<div class="form-group bio_story-author_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Nombre del autor <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#author_name-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="author_name-description"><div class="alert alert-info bspacer-xs">El autor principal que escribe la biograf&#237;a.<br>Si la bi&#243;grafa y el agente son la misma persona se trata de una autobiograf&#237;a, y s&#243;lo en este caso.<br>En este juego esto ser&#237;a imposible, ya que solo se redactan y analizan biograf&#237;as de difuntos antes de 1990.</div></span>
						<div class="form-control-static" id="author_name"></div>
					</div>
				</div>

				<!-- Field: Tipo de bibliograf&#237;a -->
				<div class="form-group bio_story-type">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="type" data-parent_link="view_parent_modal">Tipo de bibliograf&#237;a</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(type)%%><%%PLINK(type)%%><%%ADDNEW(class_bibliography_type)%%></div>
					</div>
				</div>

				<!-- Field: Sujeto -->
				<div class="form-group bio_story-agent_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="agent_id" data-parent_link="view_parent_modal">Sujeto <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#agent_id-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="agent_id-description"><div class="alert alert-info bspacer-xs">El personaje principal sobre la que relata la biograf&#237;a.</div></span>
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(agent_id)%%><%%PLINK(agent_id)%%><%%ADDNEW(game_agent)%%><span id="agent_idLoading"></span></div>
					</div>
				</div>

				<!-- Field: Nombre del sujeto -->
				<div class="form-group bio_story-agent_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Nombre del sujeto <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#agent_name-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="agent_name-description"><div class="alert alert-info bspacer-xs">El personaje principal sobre la que relata la biograf&#237;a.</div></span>
						<div class="form-control-static" id="agent_name"></div>
					</div>
				</div>

				<!-- Field: T&#237;tulo de la biograf&#237;a -->
				<div class="form-group bio_story-story_title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="story_title">T&#237;tulo de la biograf&#237;a</label>
					<div class="col-lg-9">
						<input maxlength="250" type="text" class="form-control" name="story_title" id="story_title" value="<%%VALUE(story_title)%%>">
					</div>
				</div>

				<!-- Field: Enfoque -->
				<div class="form-group bio_story-approach">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approach">Enfoque</label>
					<div class="col-lg-9">
						<input maxlength="40" type="text" class="form-control" name="approach" id="approach" value="<%%VALUE(approach)%%>">
					</div>
				</div>

				<!-- Field: Etiquetas -->
				<div class="form-group bio_story-tags">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tags">Etiquetas <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#tags-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="tags-description"><div class="alert alert-info bspacer-xs">Sube tu lista de etiquetas a la carpeta de enlaces o env&#237;ela al administrador de la base de datos.</div></span>
						<%%COMBO(tags)%%>
					</div>
				</div>

				<!-- Field: Referencia -->
				<div class="form-group bio_story-citation">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="citation">Referencia <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#citation-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="citation-description"><div class="alert alert-info bspacer-xs">Use el estilo APA ed. 7&#186;: https://uc3m.libguides.com/guias_tematicas/citas_bibliograficas/APA<br>Aqu&#237; aparecen tambi&#233;n los dem&#225;s autores, en caso que haya varios.</div></span>
						<textarea class="form-control" name="citation" id="citation" rows=" 5"><%%VALUE(citation)%%></textarea>
					</div>
				</div>

				<!-- Field: Nivel de colaboraci&#243;n -->
				<div class="form-group bio_story-collaboration_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="collaboration_status" data-parent_link="view_parent_modal">Nivel de colaboraci&#243;n</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(collaboration_status)%%><%%PLINK(collaboration_status)%%><%%ADDNEW(class_story_collab_type)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="bio_story_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="bio_story-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();


			setTimeout(function() {
				$j('#bio_story_dv_container-loading').addClass('hidden');
				$j('#bio_story_dv_container').removeClass('hidden');
				AppGini.focusFormElement('bio_story', 'bio_team');
			}, 1100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'bio_story',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'bio_story-children'
				);
			}

			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'bio_story',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=bio_story&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=bio_story&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>