<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_encounters_init() hook (in hooks/bio_encounters.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_encounters-id-<%%VALUE(id)%%>" class="bio_encounters-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-authorA-<%%VALUE(id)%%>" class="bio_encounters-authorA text-right"><%%SELECT%%><%%VALUE(authorA)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-author_nameA-<%%VALUE(id)%%>" class="bio_encounters-author_nameA text-right"><%%SELECT%%><%%VALUE(author_nameA)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-bibliographyA-<%%VALUE(id)%%>" class="bio_encounters-bibliographyA text-right"><%%SELECT%%><%%VALUE(bibliographyA)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-transcriptA-<%%VALUE(id)%%>" class="bio_encounters-transcriptA text-right"><%%SELECT%%><%%VALUE(transcriptA)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-tokenA-<%%VALUE(id)%%>" class="bio_encounters-tokenA text-right"><%%SELECT%%><%%VALUE(tokenA)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-sceneA-<%%VALUE(id)%%>" class="bio_encounters-sceneA text-right"><%%SELECT%%><%%VALUE(sceneA)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-authorB-<%%VALUE(id)%%>" class="bio_encounters-authorB text-right"><%%SELECT%%><%%VALUE(authorB)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-authornameB-<%%VALUE(id)%%>" class="bio_encounters-authornameB text-right"><%%SELECT%%><%%VALUE(authornameB)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-bibliographyB-<%%VALUE(id)%%>" class="bio_encounters-bibliographyB text-right"><%%SELECT%%><%%VALUE(bibliographyB)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-transcriptB-<%%VALUE(id)%%>" class="bio_encounters-transcriptB text-right"><%%SELECT%%><%%VALUE(transcriptB)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-tokenB-<%%VALUE(id)%%>" class="bio_encounters-tokenB text-right"><%%SELECT%%><%%VALUE(tokenB)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-sceneB-<%%VALUE(id)%%>" class="bio_encounters-sceneB text-right"><%%SELECT%%><%%VALUE(sceneB)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-relation_description-<%%VALUE(id)%%>" class="bio_encounters-relation_description"><%%SELECT%%><%%VALUE(relation_description)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-type-<%%VALUE(id)%%>" class="bio_encounters-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-conflicttype-<%%VALUE(id)%%>" class="bio_encounters-conflicttype"><%%SELECT%%><%%VALUE(conflicttype)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-story_scene-<%%VALUE(id)%%>" class="bio_encounters-story_scene text-right"><%%SELECT%%><%%VALUE(story_scene)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-nd_color-<%%VALUE(id)%%>" class="bio_encounters-nd_color text-right"><%%SELECT%%><%%VALUE(nd_color)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-nd_width-<%%VALUE(id)%%>" class="bio_encounters-nd_width"><%%SELECT%%><%%VALUE(nd_width)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-nd_style-<%%VALUE(id)%%>" class="bio_encounters-nd_style"><%%SELECT%%><%%VALUE(nd_style)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-nd_opacity-<%%VALUE(id)%%>" class="bio_encounters-nd_opacity"><%%SELECT%%><%%VALUE(nd_opacity)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-nd_visibility-<%%VALUE(id)%%>" class="bio_encounters-nd_visibility"><%%SELECT%%><%%VALUE(nd_visibility)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-lbl_lable-<%%VALUE(id)%%>" class="bio_encounters-lbl_lable"><%%SELECT%%><%%VALUE(lbl_lable)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-lbl_color-<%%VALUE(id)%%>" class="bio_encounters-lbl_color"><%%SELECT%%><%%VALUE(lbl_color)%%><%%ENDSELECT%%></td>
		<td id="bio_encounters-lbl_size-<%%VALUE(id)%%>" class="bio_encounters-lbl_size"><%%SELECT%%><%%VALUE(lbl_size)%%><%%ENDSELECT%%></td>
