<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_chr_scene_init() hook (in hooks/bio_chr_scene.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_chr_scene-id-<%%VALUE(id)%%>" class="bio_chr_scene-id text-right"><%%VALUE(id)%%></td>
		<td id="bio_chr_scene-biography-<%%VALUE(id)%%>" class="bio_chr_scene-biography"><%%VALUE(biography)%%></td>
		<td id="bio_chr_scene-author_id-<%%VALUE(id)%%>" class="bio_chr_scene-author_id text-right"><%%VALUE(author_id)%%></td>
		<td id="bio_chr_scene-author_name-<%%VALUE(id)%%>" class="bio_chr_scene-author_name"><%%VALUE(author_name)%%></td>
		<td id="bio_chr_scene-bibliography-<%%VALUE(id)%%>" class="bio_chr_scene-bibliography text-right"><%%VALUE(bibliography)%%></td>
		<td id="bio_chr_scene-transcript-<%%VALUE(id)%%>" class="bio_chr_scene-transcript text-right"><%%VALUE(transcript)%%></td>
		<td id="bio_chr_scene-token_sequence-<%%VALUE(id)%%>" class="bio_chr_scene-token_sequence text-right"><%%VALUE(token_sequence)%%></td>
		<td id="bio_chr_scene-token-<%%VALUE(id)%%>" class="bio_chr_scene-token text-right"><%%VALUE(token)%%></td>
		<td id="bio_chr_scene-invivo_code-<%%VALUE(id)%%>" class="bio_chr_scene-invivo_code text-right"><%%VALUE(invivo_code)%%></td>
		<td id="bio_chr_scene-startdate-<%%VALUE(id)%%>" class="bio_chr_scene-startdate text-right"><%%VALUE(startdate)%%></td>
		<td id="bio_chr_scene-enddate-<%%VALUE(id)%%>" class="bio_chr_scene-enddate text-right"><%%VALUE(enddate)%%></td>
		<td id="bio_chr_scene-person-<%%VALUE(id)%%>" class="bio_chr_scene-person text-right"><%%VALUE(person)%%></td>
		<td id="bio_chr_scene-place-<%%VALUE(id)%%>" class="bio_chr_scene-place text-right"><%%VALUE(place)%%></td>
		<td id="bio_chr_scene-herme_code-<%%VALUE(id)%%>" class="bio_chr_scene-herme_code text-right"><%%VALUE(herme_code)%%></td>
		<td id="bio_chr_scene-impression-<%%VALUE(id)%%>" class="bio_chr_scene-impression text-right"><%%VALUE(impression)%%></td>
		<td id="bio_chr_scene-noetictension-<%%VALUE(id)%%>" class="bio_chr_scene-noetictension text-right"><%%VALUE(noetictension)%%></td>
		<td id="bio_chr_scene-pc-<%%VALUE(id)%%>" class="bio_chr_scene-pc"><%%VALUE(pc)%%></td>
		<td id="bio_chr_scene-chr_element-<%%VALUE(id)%%>" class="bio_chr_scene-chr_element"><%%VALUE(chr_element)%%></td>
		<td id="bio_chr_scene-comment-<%%VALUE(id)%%>" class="bio_chr_scene-comment text-right"><%%VALUE(comment)%%></td>
		<td id="bio_chr_scene-illustration-<%%VALUE(id)%%>" class="bio_chr_scene-illustration"><%%VALUE(illustration)%%></td>
		<td id="bio_chr_scene-scene-<%%VALUE(id)%%>" class="bio_chr_scene-scene text-right"><%%VALUE(scene)%%></td>
