<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_storylines_init() hook (in hooks/bio_storylines.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_storylines-id-<%%VALUE(id)%%>" class="bio_storylines-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-biography-<%%VALUE(id)%%>" class="bio_storylines-biography text-right"><%%SELECT%%><%%VALUE(biography)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-author_id-<%%VALUE(id)%%>" class="bio_storylines-author_id"><%%SELECT%%><%%VALUE(author_id)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-author_name-<%%VALUE(id)%%>" class="bio_storylines-author_name"><%%SELECT%%><%%VALUE(author_name)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-bibliography-<%%VALUE(id)%%>" class="bio_storylines-bibliography"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-transcript-<%%VALUE(id)%%>" class="bio_storylines-transcript"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-token_sequence-<%%VALUE(id)%%>" class="bio_storylines-token_sequence"><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-token-<%%VALUE(id)%%>" class="bio_storylines-token"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-story_act-<%%VALUE(id)%%>" class="bio_storylines-story_act"><%%SELECT%%><%%VALUE(story_act)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-sequence-<%%VALUE(id)%%>" class="bio_storylines-sequence"><%%SELECT%%><%%VALUE(sequence)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-character-<%%VALUE(id)%%>" class="bio_storylines-character text-right"><%%SELECT%%><%%VALUE(character)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-role-<%%VALUE(id)%%>" class="bio_storylines-role text-right"><%%SELECT%%><%%VALUE(role)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-storyline_no-<%%VALUE(id)%%>" class="bio_storylines-storyline_no"><%%SELECT%%><%%VALUE(storyline_no)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-parenthetic-<%%VALUE(id)%%>" class="bio_storylines-parenthetic"><%%SELECT%%><%%VALUE(parenthetic)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-storyline_title-<%%VALUE(id)%%>" class="bio_storylines-storyline_title"><%%SELECT%%><%%VALUE(storyline_title)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-storyline-<%%VALUE(id)%%>" class="bio_storylines-storyline"><%%SELECT%%><%%VALUE(storyline)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-notes-<%%VALUE(id)%%>" class="bio_storylines-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-storyweaving_scene_no-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_scene_no text-right"><%%SELECT%%><%%VALUE(storyweaving_scene_no)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-storyweaving_scene-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_scene text-right"><%%SELECT%%><%%VALUE(storyweaving_scene)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-storyweaving_sequence-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_sequence text-right"><%%SELECT%%><%%VALUE(storyweaving_sequence)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-storyweaving_theme-<%%VALUE(id)%%>" class="bio_storylines-storyweaving_theme text-right"><%%SELECT%%><%%VALUE(storyweaving_theme)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-character_scene-<%%VALUE(id)%%>" class="bio_storylines-character_scene text-right"><%%SELECT%%><%%VALUE(character_scene)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-character_event-<%%VALUE(id)%%>" class="bio_storylines-character_event text-right"><%%SELECT%%><%%VALUE(character_event)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-startdate-<%%VALUE(id)%%>" class="bio_storylines-startdate"><%%SELECT%%><%%VALUE(startdate)%%><%%ENDSELECT%%></td>
		<td id="bio_storylines-enddate-<%%VALUE(id)%%>" class="bio_storylines-enddate"><%%SELECT%%><%%VALUE(enddate)%%><%%ENDSELECT%%></td>
