<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_encounter_init() hook (in hooks/bio_encounter.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_encounter-id-<%%VALUE(id)%%>" class="bio_encounter-id text-right"><%%VALUE(id)%%></td>
		<td id="bio_encounter-authorA-<%%VALUE(id)%%>" class="bio_encounter-authorA text-right"><%%VALUE(authorA)%%></td>
		<td id="bio_encounter-author_nameA-<%%VALUE(id)%%>" class="bio_encounter-author_nameA text-right"><%%VALUE(author_nameA)%%></td>
		<td id="bio_encounter-bibliographyA-<%%VALUE(id)%%>" class="bio_encounter-bibliographyA text-right"><%%VALUE(bibliographyA)%%></td>
		<td id="bio_encounter-transcriptA-<%%VALUE(id)%%>" class="bio_encounter-transcriptA text-right"><%%VALUE(transcriptA)%%></td>
		<td id="bio_encounter-tokenA-<%%VALUE(id)%%>" class="bio_encounter-tokenA text-right"><%%VALUE(tokenA)%%></td>
		<td id="bio_encounter-sceneA-<%%VALUE(id)%%>" class="bio_encounter-sceneA text-right"><%%VALUE(sceneA)%%></td>
		<td id="bio_encounter-authorB-<%%VALUE(id)%%>" class="bio_encounter-authorB text-right"><%%VALUE(authorB)%%></td>
		<td id="bio_encounter-authornameB-<%%VALUE(id)%%>" class="bio_encounter-authornameB text-right"><%%VALUE(authornameB)%%></td>
		<td id="bio_encounter-bibliographyB-<%%VALUE(id)%%>" class="bio_encounter-bibliographyB text-right"><%%VALUE(bibliographyB)%%></td>
		<td id="bio_encounter-transcriptB-<%%VALUE(id)%%>" class="bio_encounter-transcriptB text-right"><%%VALUE(transcriptB)%%></td>
		<td id="bio_encounter-tokenB-<%%VALUE(id)%%>" class="bio_encounter-tokenB text-right"><%%VALUE(tokenB)%%></td>
		<td id="bio_encounter-sceneB-<%%VALUE(id)%%>" class="bio_encounter-sceneB text-right"><%%VALUE(sceneB)%%></td>
		<td id="bio_encounter-relation_description-<%%VALUE(id)%%>" class="bio_encounter-relation_description"><%%VALUE(relation_description)%%></td>
		<td id="bio_encounter-type-<%%VALUE(id)%%>" class="bio_encounter-type"><%%VALUE(type)%%></td>
		<td id="bio_encounter-conflicttype-<%%VALUE(id)%%>" class="bio_encounter-conflicttype"><%%VALUE(conflicttype)%%></td>
		<td id="bio_encounter-story_scene-<%%VALUE(id)%%>" class="bio_encounter-story_scene text-right"><%%VALUE(story_scene)%%></td>
		<td id="bio_encounter-nd_color-<%%VALUE(id)%%>" class="bio_encounter-nd_color text-right"><%%VALUE(nd_color)%%></td>
		<td id="bio_encounter-nd_width-<%%VALUE(id)%%>" class="bio_encounter-nd_width"><%%VALUE(nd_width)%%></td>
		<td id="bio_encounter-nd_style-<%%VALUE(id)%%>" class="bio_encounter-nd_style"><%%VALUE(nd_style)%%></td>
		<td id="bio_encounter-nd_opacity-<%%VALUE(id)%%>" class="bio_encounter-nd_opacity"><%%VALUE(nd_opacity)%%></td>
		<td id="bio_encounter-nd_visibility-<%%VALUE(id)%%>" class="bio_encounter-nd_visibility"><%%VALUE(nd_visibility)%%></td>
		<td id="bio_encounter-lbl_lable-<%%VALUE(id)%%>" class="bio_encounter-lbl_lable"><%%VALUE(lbl_lable)%%></td>
		<td id="bio_encounter-lbl_color-<%%VALUE(id)%%>" class="bio_encounter-lbl_color"><%%VALUE(lbl_color)%%></td>
		<td id="bio_encounter-lbl_size-<%%VALUE(id)%%>" class="bio_encounter-lbl_size"><%%VALUE(lbl_size)%%></td>
