<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_encounter_scene_init() hook (in hooks/bio_encounter_scene.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_encounter_scene-id-<%%VALUE(id)%%>" class="bio_encounter_scene-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="bio_encounter_scene-encounter_team-<%%VALUE(id)%%>" class="bio_encounter_scene-encounter_team"><%%SELECT%%><%%VALUE(encounter_team)%%><%%ENDSELECT%%></td>
		<td id="bio_encounter_scene-encounter_analyst-<%%VALUE(id)%%>" class="bio_encounter_scene-encounter_analyst"><%%SELECT%%><%%VALUE(encounter_analyst)%%><%%ENDSELECT%%></td>
		<td id="bio_encounter_scene-scene-<%%VALUE(id)%%>" class="bio_encounter_scene-scene"><%%SELECT%%><%%VALUE(scene)%%><%%ENDSELECT%%></td>
