<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group bio_storyweaving_scene-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Biograf&#237;a -->
		<div class="form-group bio_storyweaving_scene-story" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Biograf&#237;a</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="story<%%RND1%%>"><%%COMBOTEXT(story)%%></span></div>
			</div>
		</div>
		<!-- Field: Paso -->
		<div class="form-group bio_storyweaving_scene-step" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Paso</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="step<%%RND1%%>"><%%COMBOTEXT(step)%%></span></div>
			</div>
		</div>
		<!-- Field: Throughline -->
		<div class="form-group bio_storyweaving_scene-throughline" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Throughline</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="throughline<%%RND1%%>"><%%COMBOTEXT(throughline)%%></span></div>
			</div>
		</div>
		<!-- Field: Dominio -->
		<div class="form-group bio_storyweaving_scene-domain" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dominio</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="domain<%%RND1%%>"><%%COMBOTEXT(domain)%%></span></div>
			</div>
		</div>
		<!-- Field: Aspecto (Concern) -->
		<div class="form-group bio_storyweaving_scene-concern" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Aspecto (Concern)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="concern<%%RND1%%>"><%%COMBOTEXT(concern)%%></span></div>
			</div>
		</div>
		<!-- Field: Asunto (Issue) -->
		<div class="form-group bio_storyweaving_scene-issue" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Asunto (Issue)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="issue<%%RND1%%>"><%%COMBOTEXT(issue)%%></span></div>
			</div>
		</div>
		<!-- Field: Tema (Theme) -->
		<div class="form-group bio_storyweaving_scene-theme" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Tema (Theme)</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="theme<%%RND1%%>"><%%COMBOTEXT(theme)%%></span></div>
			</div>
		</div>
		<!-- Field: Secuencia -->
		<div class="form-group bio_storyweaving_scene-sequence" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Secuencia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(sequence)%%></div>
			</div>
		</div>
		<!-- Field: Codificaci&#243;n -->
		<div class="form-group bio_storyweaving_scene-encoding" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Codificaci&#243;n</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(encoding)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="bio_storyweaving_scene-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=bio_storyweaving_scene-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'bio_storyweaving_scene',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'bio_storyweaving_scene-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

