<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_storystatic_init() hook (in hooks/bio_storystatic.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_storystatic-id-<%%VALUE(id)%%>" class="bio_storystatic-id text-right"><%%VALUE(id)%%></td>
		<td id="bio_storystatic-story-<%%VALUE(id)%%>" class="bio_storystatic-story text-right"><%%VALUE(story)%%></td>
		<td id="bio_storystatic-throughline-<%%VALUE(id)%%>" class="bio_storystatic-throughline text-right"><%%VALUE(throughline)%%></td>
		<td id="bio_storystatic-story_character_mc-<%%VALUE(id)%%>" class="bio_storystatic-story_character_mc"><%%VALUE(story_character_mc)%%></td>
		<td id="bio_storystatic-throughline_domain-<%%VALUE(id)%%>" class="bio_storystatic-throughline_domain text-right"><%%VALUE(throughline_domain)%%></td>
		<td id="bio_storystatic-concern-<%%VALUE(id)%%>" class="bio_storystatic-concern text-right"><%%VALUE(concern)%%></td>
		<td id="bio_storystatic-issue-<%%VALUE(id)%%>" class="bio_storystatic-issue text-right"><%%VALUE(issue)%%></td>
		<td id="bio_storystatic-problem-<%%VALUE(id)%%>" class="bio_storystatic-problem text-right"><%%VALUE(problem)%%></td>
		<td id="bio_storystatic-solution-<%%VALUE(id)%%>" class="bio_storystatic-solution text-right"><%%VALUE(solution)%%></td>
		<td id="bio_storystatic-symptom-<%%VALUE(id)%%>" class="bio_storystatic-symptom text-right"><%%VALUE(symptom)%%></td>
		<td id="bio_storystatic-response-<%%VALUE(id)%%>" class="bio_storystatic-response text-right"><%%VALUE(response)%%></td>
		<td id="bio_storystatic-catalyst-<%%VALUE(id)%%>" class="bio_storystatic-catalyst text-right"><%%VALUE(catalyst)%%></td>
		<td id="bio_storystatic-inhibitor-<%%VALUE(id)%%>" class="bio_storystatic-inhibitor text-right"><%%VALUE(inhibitor)%%></td>
		<td id="bio_storystatic-benchmark-<%%VALUE(id)%%>" class="bio_storystatic-benchmark text-right"><%%VALUE(benchmark)%%></td>
		<td id="bio_storystatic-signpost1-<%%VALUE(id)%%>" class="bio_storystatic-signpost1"><%%VALUE(signpost1)%%></td>
		<td id="bio_storystatic-signpost2-<%%VALUE(id)%%>" class="bio_storystatic-signpost2"><%%VALUE(signpost2)%%></td>
		<td id="bio_storystatic-signpost3-<%%VALUE(id)%%>" class="bio_storystatic-signpost3"><%%VALUE(signpost3)%%></td>
		<td id="bio_storystatic-signpost4-<%%VALUE(id)%%>" class="bio_storystatic-signpost4"><%%VALUE(signpost4)%%></td>
