<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_storyline_init() hook (in hooks/bio_storyline.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_storyline-id-<%%VALUE(id)%%>" class="bio_storyline-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-biography-<%%VALUE(id)%%>" class="bio_storyline-biography text-right"><%%SELECT%%><%%VALUE(biography)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-author_id-<%%VALUE(id)%%>" class="bio_storyline-author_id"><%%SELECT%%><%%VALUE(author_id)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-author_name-<%%VALUE(id)%%>" class="bio_storyline-author_name"><%%SELECT%%><%%VALUE(author_name)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-bibliography-<%%VALUE(id)%%>" class="bio_storyline-bibliography"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-transcript-<%%VALUE(id)%%>" class="bio_storyline-transcript"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-token_sequence-<%%VALUE(id)%%>" class="bio_storyline-token_sequence"><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-token-<%%VALUE(id)%%>" class="bio_storyline-token"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-story_act-<%%VALUE(id)%%>" class="bio_storyline-story_act"><%%SELECT%%><%%VALUE(story_act)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-sequence-<%%VALUE(id)%%>" class="bio_storyline-sequence"><%%SELECT%%><%%VALUE(sequence)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-character-<%%VALUE(id)%%>" class="bio_storyline-character text-right"><%%SELECT%%><%%VALUE(character)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-role-<%%VALUE(id)%%>" class="bio_storyline-role text-right"><%%SELECT%%><%%VALUE(role)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-storyline_no-<%%VALUE(id)%%>" class="bio_storyline-storyline_no"><%%SELECT%%><%%VALUE(storyline_no)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-parenthetic-<%%VALUE(id)%%>" class="bio_storyline-parenthetic"><%%SELECT%%><%%VALUE(parenthetic)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-storyline_title-<%%VALUE(id)%%>" class="bio_storyline-storyline_title"><%%SELECT%%><%%VALUE(storyline_title)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-storyline-<%%VALUE(id)%%>" class="bio_storyline-storyline"><%%SELECT%%><%%VALUE(storyline)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-notes-<%%VALUE(id)%%>" class="bio_storyline-notes"><%%SELECT%%><%%VALUE(notes)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-storyweaving_scene_no-<%%VALUE(id)%%>" class="bio_storyline-storyweaving_scene_no text-right"><%%SELECT%%><%%VALUE(storyweaving_scene_no)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-storyweaving_scene-<%%VALUE(id)%%>" class="bio_storyline-storyweaving_scene text-right"><%%SELECT%%><%%VALUE(storyweaving_scene)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-storyweaving_sequence-<%%VALUE(id)%%>" class="bio_storyline-storyweaving_sequence text-right"><%%SELECT%%><%%VALUE(storyweaving_sequence)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-storyweaving_theme-<%%VALUE(id)%%>" class="bio_storyline-storyweaving_theme text-right"><%%SELECT%%><%%VALUE(storyweaving_theme)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-character_scene-<%%VALUE(id)%%>" class="bio_storyline-character_scene text-right"><%%SELECT%%><%%VALUE(character_scene)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-character_event-<%%VALUE(id)%%>" class="bio_storyline-character_event text-right"><%%SELECT%%><%%VALUE(character_event)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-startdate-<%%VALUE(id)%%>" class="bio_storyline-startdate"><%%SELECT%%><%%VALUE(startdate)%%><%%ENDSELECT%%></td>
		<td id="bio_storyline-enddate-<%%VALUE(id)%%>" class="bio_storyline-enddate"><%%SELECT%%><%%VALUE(enddate)%%><%%ENDSELECT%%></td>
