<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_drama_chr_dev_init() hook (in hooks/bio_drama_chr_dev.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_drama_chr_dev-id-<%%VALUE(id)%%>" class="bio_drama_chr_dev-id text-right"><%%VALUE(id)%%></td>
		<td id="bio_drama_chr_dev-agent_id-<%%VALUE(id)%%>" class="bio_drama_chr_dev-agent_id text-right"><%%VALUE(agent_id)%%></td>
		<td id="bio_drama_chr_dev-agent_name-<%%VALUE(id)%%>" class="bio_drama_chr_dev-agent_name text-right"><%%VALUE(agent_name)%%></td>
		<td id="bio_drama_chr_dev-bio_story-<%%VALUE(id)%%>" class="bio_drama_chr_dev-bio_story"><%%VALUE(bio_story)%%></td>
		<td id="bio_drama_chr_dev-cw_name-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_name"><%%VALUE(cw_name)%%></td>
		<td id="bio_drama_chr_dev-dp1_resolve-<%%VALUE(id)%%>" class="bio_drama_chr_dev-dp1_resolve"><%%VALUE(dp1_resolve)%%></td>
		<td id="bio_drama_chr_dev-dp2_resolve-<%%VALUE(id)%%>" class="bio_drama_chr_dev-dp2_resolve"><%%VALUE(dp2_resolve)%%></td>
		<td id="bio_drama_chr_dev-dp3_resolve-<%%VALUE(id)%%>" class="bio_drama_chr_dev-dp3_resolve"><%%VALUE(dp3_resolve)%%></td>
		<td id="bio_drama_chr_dev-mc_resolve-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mc_resolve"><%%VALUE(mc_resolve)%%></td>
		<td id="bio_drama_chr_dev-illust_resolve-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_resolve"><%%VALUE(illust_resolve)%%></td>
		<td id="bio_drama_chr_dev-dp3_growth-<%%VALUE(id)%%>" class="bio_drama_chr_dev-dp3_growth"><%%VALUE(dp3_growth)%%></td>
		<td id="bio_drama_chr_dev-mc_growth-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mc_growth text-right"><%%VALUE(mc_growth)%%></td>
		<td id="bio_drama_chr_dev-illust_growth-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_growth"><%%VALUE(illust_growth)%%></td>
		<td id="bio_drama_chr_dev-dp3_approach-<%%VALUE(id)%%>" class="bio_drama_chr_dev-dp3_approach"><%%VALUE(dp3_approach)%%></td>
		<td id="bio_drama_chr_dev-mc_approach-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mc_approach"><%%VALUE(mc_approach)%%></td>
		<td id="bio_drama_chr_dev-illust_approach-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_approach"><%%VALUE(illust_approach)%%></td>
		<td id="bio_drama_chr_dev-dp3_psstyle-<%%VALUE(id)%%>" class="bio_drama_chr_dev-dp3_psstyle"><%%VALUE(dp3_psstyle)%%></td>
		<td id="bio_drama_chr_dev-mc_ps_style-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mc_ps_style text-right"><%%VALUE(mc_ps_style)%%></td>
		<td id="bio_drama_chr_dev-illust_ps_style-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_ps_style"><%%VALUE(illust_ps_style)%%></td>
		<td id="bio_drama_chr_dev-cw_age-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_age"><%%VALUE(cw_age)%%></td>
		<td id="bio_drama_chr_dev-cw_gender-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_gender text-right"><%%VALUE(cw_gender)%%></td>
		<td id="bio_drama_chr_dev-cw_communication_style-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_communication_style"><%%VALUE(cw_communication_style)%%></td>
		<td id="bio_drama_chr_dev-cw_background-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_background"><%%VALUE(cw_background)%%></td>
		<td id="bio_drama_chr_dev-cw_appearance-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_appearance"><%%VALUE(cw_appearance)%%></td>
		<td id="bio_drama_chr_dev-cw_relationships-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_relationships"><%%VALUE(cw_relationships)%%></td>
		<td id="bio_drama_chr_dev-cw_ambition-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_ambition"><%%VALUE(cw_ambition)%%></td>
		<td id="bio_drama_chr_dev-cw_defects-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_defects"><%%VALUE(cw_defects)%%></td>
		<td id="bio_drama_chr_dev-cw_thoughts-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_thoughts"><%%VALUE(cw_thoughts)%%></td>
		<td id="bio_drama_chr_dev-cw_relatedness-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_relatedness"><%%VALUE(cw_relatedness)%%></td>
		<td id="bio_drama_chr_dev-cw_restrictions-<%%VALUE(id)%%>" class="bio_drama_chr_dev-cw_restrictions"><%%VALUE(cw_restrictions)%%></td>
		<td id="bio_drama_chr_dev-locations-<%%VALUE(id)%%>" class="bio_drama_chr_dev-locations"><%%VALUE(locations)%%></td>
		<td id="bio_drama_chr_dev-persons-<%%VALUE(id)%%>" class="bio_drama_chr_dev-persons"><%%VALUE(persons)%%></td>
		<td id="bio_drama_chr_dev-events-<%%VALUE(id)%%>" class="bio_drama_chr_dev-events"><%%VALUE(events)%%></td>
		<td id="bio_drama_chr_dev-noetictension-<%%VALUE(id)%%>" class="bio_drama_chr_dev-noetictension text-right"><%%VALUE(noetictension)%%></td>
		<td id="bio_drama_chr_dev-illust_nt-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_nt"><%%VALUE(illust_nt)%%></td>
		<td id="bio_drama_chr_dev-impression-<%%VALUE(id)%%>" class="bio_drama_chr_dev-impression text-right"><%%VALUE(impression)%%></td>
		<td id="bio_drama_chr_dev-illust_im-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_im"><%%VALUE(illust_im)%%></td>
		<td id="bio_drama_chr_dev-mcs_problem-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mcs_problem"><%%VALUE(mcs_problem)%%></td>
		<td id="bio_drama_chr_dev-illust_mcs_problem-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_mcs_problem"><%%VALUE(illust_mcs_problem)%%></td>
		<td id="bio_drama_chr_dev-mcs_solution-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mcs_solution"><%%VALUE(mcs_solution)%%></td>
		<td id="bio_drama_chr_dev-illust_mcs_solution-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_mcs_solution"><%%VALUE(illust_mcs_solution)%%></td>
		<td id="bio_drama_chr_dev-mcs_symptom-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mcs_symptom"><%%VALUE(mcs_symptom)%%></td>
		<td id="bio_drama_chr_dev-illust_mcs_symptom-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_mcs_symptom"><%%VALUE(illust_mcs_symptom)%%></td>
		<td id="bio_drama_chr_dev-mcs_response-<%%VALUE(id)%%>" class="bio_drama_chr_dev-mcs_response"><%%VALUE(mcs_response)%%></td>
		<td id="bio_drama_chr_dev-illust_mcs_response-<%%VALUE(id)%%>" class="bio_drama_chr_dev-illust_mcs_response"><%%VALUE(illust_mcs_response)%%></td>
