<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_code_herme_init() hook (in hooks/bio_code_herme.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_code_herme-id-<%%VALUE(id)%%>" class="bio_code_herme-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-biography-<%%VALUE(id)%%>" class="bio_code_herme-biography"><%%SELECT%%><%%VALUE(biography)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-agent_id-<%%VALUE(id)%%>" class="bio_code_herme-agent_id"><%%SELECT%%><%%VALUE(agent_id)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-agent_name-<%%VALUE(id)%%>" class="bio_code_herme-agent_name"><%%SELECT%%><%%VALUE(agent_name)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-author_id-<%%VALUE(id)%%>" class="bio_code_herme-author_id text-right"><%%SELECT%%><%%VALUE(author_id)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-author_name-<%%VALUE(id)%%>" class="bio_code_herme-author_name"><%%SELECT%%><%%VALUE(author_name)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-bibliography-<%%VALUE(id)%%>" class="bio_code_herme-bibliography text-right"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-transcript-<%%VALUE(id)%%>" class="bio_code_herme-transcript text-right"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-token_sequence-<%%VALUE(id)%%>" class="bio_code_herme-token_sequence text-right"><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-token-<%%VALUE(id)%%>" class="bio_code_herme-token text-right"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-hermeneutic-<%%VALUE(id)%%>" class="bio_code_herme-hermeneutic"><%%SELECT%%><%%VALUE(hermeneutic)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-impression-<%%VALUE(id)%%>" class="bio_code_herme-impression text-right"><%%SELECT%%><%%VALUE(impression)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-noetictension-<%%VALUE(id)%%>" class="bio_code_herme-noetictension text-right"><%%SELECT%%><%%VALUE(noetictension)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-quadrilemma-<%%VALUE(id)%%>" class="bio_code_herme-quadrilemma"><%%SELECT%%><%%VALUE(quadrilemma)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-pc-<%%VALUE(id)%%>" class="bio_code_herme-pc"><%%SELECT%%><%%VALUE(pc)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-counterfactual-<%%VALUE(id)%%>" class="bio_code_herme-counterfactual"><%%SELECT%%><%%VALUE(counterfactual)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-bio_sdg-<%%VALUE(id)%%>" class="bio_code_herme-bio_sdg"><%%SELECT%%><%%VALUE(bio_sdg)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-bio_dilemma-<%%VALUE(id)%%>" class="bio_code_herme-bio_dilemma"><%%SELECT%%><%%VALUE(bio_dilemma)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-bio_goals-<%%VALUE(id)%%>" class="bio_code_herme-bio_goals"><%%SELECT%%><%%VALUE(bio_goals)%%><%%ENDSELECT%%></td>
		<td id="bio_code_herme-freecode-<%%VALUE(id)%%>" class="bio_code_herme-freecode"><%%SELECT%%><%%VALUE(freecode)%%><%%ENDSELECT%%></td>
