<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the bio_storyweaving_scenes_init() hook (in hooks/bio_storyweaving_scenes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="bio_storyweaving_scenes-id-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-id text-right"><%%VALUE(id)%%></td>
		<td id="bio_storyweaving_scenes-story-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-story text-right"><%%VALUE(story)%%></td>
		<td id="bio_storyweaving_scenes-step-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-step"><%%VALUE(step)%%></td>
		<td id="bio_storyweaving_scenes-throughline-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-throughline text-right"><%%VALUE(throughline)%%></td>
		<td id="bio_storyweaving_scenes-domain-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-domain text-right"><%%VALUE(domain)%%></td>
		<td id="bio_storyweaving_scenes-concern-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-concern text-right"><%%VALUE(concern)%%></td>
		<td id="bio_storyweaving_scenes-issue-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-issue text-right"><%%VALUE(issue)%%></td>
		<td id="bio_storyweaving_scenes-theme-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-theme text-right"><%%VALUE(theme)%%></td>
		<td id="bio_storyweaving_scenes-sequence-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-sequence"><%%VALUE(sequence)%%></td>
		<td id="bio_storyweaving_scenes-encoding-<%%VALUE(id)%%>" class="bio_storyweaving_scenes-encoding"><%%VALUE(encoding)%%></td>
