<!-- To change the layout of the detail view form, we recommend using JS code in hooks/bio_chr_scene-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="bio_chr_scene_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
<div class="panel-body hidden" id="bio_chr_scene_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<input type="hidden" id="bio_chr_dev_hclink" value="bio_chr_dev_view.php?filterer_illust_resolve=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="bio_storyline_view.php?filterer_character_scene=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="bio_storyline_link"><i class="glyphicon glyphicon-list-alt"></i> Trama biogr&#225;fica</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="bio_storyline_view.php?filterer_character_scene=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_bio_storyline_link"><i class="glyphicon glyphicon-list-alt"></i> Trama biogr&#225;fica</a>
			<input type="hidden" id="bio_storyline_hclink" value="bio_storyline_view.php?filterer_character_scene=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="bio_encounter_view.php?filterer_bio_impressionA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="bio_encounter_link"><i class="glyphicon glyphicon-list-alt"></i> Encuentros de vida</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="bio_encounter_view.php?filterer_bio_impressionA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_bio_encounter_link"><i class="glyphicon glyphicon-list-alt"></i> Encuentros de vida</a>
			<input type="hidden" id="bio_encounter_hclink" value="bio_encounter_view.php?filterer_bio_impressionA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="hist_chr_scene_view.php?filterer_bio_chr_scene=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="hist_chr_scene_link"><i class="glyphicon glyphicon-list-alt"></i> Escenas de personajes de la Historia</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="hist_chr_scene_view.php?filterer_bio_chr_scene=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_hist_chr_scene_link"><i class="glyphicon glyphicon-list-alt"></i> Escenas de personajes de la Historia</a>
			<input type="hidden" id="hist_chr_scene_hclink" value="hist_chr_scene_view.php?filterer_bio_chr_scene=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="hist_encounter_view.php?filterer_bio_chr_sceneA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="hist_encounter_link"><i class="glyphicon glyphicon-list-alt"></i> Encuentros hist&#243;ricos</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="hist_encounter_view.php?filterer_bio_chr_sceneA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_hist_encounter_link"><i class="glyphicon glyphicon-list-alt"></i> Encuentros hist&#243;ricos</a>
			<input type="hidden" id="hist_encounter_hclink" value="hist_encounter_view.php?filterer_bio_chr_sceneA=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="bio_chr_scene_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group bio_chr_scene-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Biograf&#237;a -->
				<div class="form-group bio_chr_scene-biography">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="biography" data-parent_link="view_parent_modal">Biograf&#237;a</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(biography)%%><%%PLINK(biography)%%><%%ADDNEW(bio_story)%%></div>
					</div>
				</div>

				<!-- Field: ID autor biogr&#225;fico -->
				<div class="form-group bio_chr_scene-author_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="author_id" data-parent_link="view_parent_modal">ID autor biogr&#225;fico</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(author_id)%%><%%PLINK(author_id)%%><%%ADDNEW(biblio_author)%%><span id="author_idLoading"></span></div>
					</div>
				</div>

				<!-- Field: Nombre de autor biogr&#225;fico -->
				<div class="form-group bio_chr_scene-author_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Nombre de autor biogr&#225;fico</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="author_name"></div>
					</div>
				</div>

				<!-- Field: Bibliograf&#237;a -->
				<div class="form-group bio_chr_scene-bibliography">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="bibliography" data-parent_link="view_parent_modal">Bibliograf&#237;a <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#bibliography-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="bibliography-description"><div class="alert alert-info bspacer-xs">El documento de texto</div></span>
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(bibliography)%%><%%PLINK(bibliography)%%><%%ADDNEW(biblio_doc)%%></div>
					</div>
				</div>

				<!-- Field: Transcripci&#243;n -->
				<div class="form-group bio_chr_scene-transcript">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="transcript" data-parent_link="view_parent_modal">Transcripci&#243;n</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(transcript)%%><%%PLINK(transcript)%%><%%ADDNEW(biblio_transcript)%%></div>
					</div>
				</div>

				<!-- Field: Sequencia de token -->
				<div class="form-group bio_chr_scene-token_sequence">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Sequencia de token</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="token_sequence"></div>
					</div>
				</div>

				<!-- Field: Token -->
				<div class="form-group bio_chr_scene-token">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="token" data-parent_link="view_parent_modal">Token</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(token)%%><%%PLINK(token)%%><%%ADDNEW(biblio_token)%%><span id="tokenLoading"></span></div>
					</div>
				</div>

				<!-- Field: C&#243;digo invivo -->
				<div class="form-group bio_chr_scene-invivo_code">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="invivo_code" data-parent_link="view_parent_modal">C&#243;digo invivo</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(invivo_code)%%><%%PLINK(invivo_code)%%><%%ADDNEW(biblio_code_invivo)%%><span id="invivo_codeLoading"></span></div>
					</div>
				</div>

				<!-- Field: Fecha inicio -->
				<div class="form-group bio_chr_scene-startdate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="startdate" data-parent_link="view_parent_modal">Fecha inicio</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(startdate)%%><%%PLINK(startdate)%%><%%ADDNEW(biblio_code_invivo)%%></div>
					</div>
				</div>

				<!-- Field: Fecha final -->
				<div class="form-group bio_chr_scene-enddate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Fecha final</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="enddate"></div>
					</div>
				</div>

				<!-- Field: Persona(s) -->
				<div class="form-group bio_chr_scene-person">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Persona(s)</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="person"></div>
					</div>
				</div>

				<!-- Field: Lugar(es) -->
				<div class="form-group bio_chr_scene-place">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Lugar(es)</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="place"></div>
					</div>
				</div>

				<!-- Field: C&#243;digo hermen&#233;utico -->
				<div class="form-group bio_chr_scene-herme_code">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="herme_code" data-parent_link="view_parent_modal">C&#243;digo hermen&#233;utico</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(herme_code)%%><%%PLINK(herme_code)%%><%%ADDNEW(bio_code_herme)%%><span id="herme_codeLoading"></span></div>
					</div>
				</div>

				<!-- Field: Impresi&#243;n -->
				<div class="form-group bio_chr_scene-impression">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Impresi&#243;n</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="impression"></div>
					</div>
				</div>

				<!-- Field: Tensi&#243;n no&#233;tica -->
				<div class="form-group bio_chr_scene-noetictension">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Tensi&#243;n no&#233;tica</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="noetictension"></div>
					</div>
				</div>

				<!-- Field: Contradicci&#243;n performativa -->
				<div class="form-group bio_chr_scene-pc">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Contradicci&#243;n performativa</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="pc"></div>
					</div>
				</div>

				<!-- Field: Contrafactuales -->
				<div class="form-group bio_chr_scene-counterfactual">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Contrafactuales</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="counterfactual"></div>
					</div>
				</div>

				<!-- Field: Objetivos positivos -->
				<div class="form-group bio_chr_scene-goal">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Objetivos positivos <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#goal-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="goal-description"><div class="alert alert-info bspacer-xs">Objetivos que la comunidad ha definido como importantes para el futuro.</div></span>
						<div class="form-control-static" id="goal"></div>
					</div>
				</div>

				<!-- Field: Dilema &#233;tico -->
				<div class="form-group bio_chr_scene-dilemma_ethics">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Dilema &#233;tico <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#dilemma_ethics-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="dilemma_ethics-description"><div class="alert alert-info bspacer-xs">Cuando este campo est&#225; habilitado lo puede usar para asociar dilemas &#233;ticos</div></span>
						<div class="form-control-static" id="dilemma_ethics"></div>
					</div>
				</div>

				<!-- Field: Objetivos de Desarrollo Sostenible -->
				<div class="form-group bio_chr_scene-sdg">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Objetivos de Desarrollo Sostenible <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#sdg-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="sdg-description"><div class="alert alert-info bspacer-xs">Temas seg&#250;n los Objetivos de Desarrollo Sostenible.</div></span>
						<div class="form-control-static" id="sdg"></div>
					</div>
				</div>

				<!-- Field: Elementos del personaje -->
				<div class="form-group bio_chr_scene-chr_element">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="chr_element" data-parent_link="view_parent_modal">Elementos del personaje</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(chr_element)%%><%%PLINK(chr_element)%%><%%ADDNEW(class_character_element)%%></div>
					</div>
				</div>

				<!-- Field: Comentarios -->
				<div class="form-group bio_chr_scene-comment">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="comment">Comentarios</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="comment" id="comment" rows=" 5"><%%VALUE(comment)%%></textarea>
					</div>
				</div>

				<!-- Field: Ilustraci&#243;n -->
				<div class="form-group bio_chr_scene-illustration">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="illustration">Ilustraci&#243;n</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="illustration" id="illustration" rows=" 5"><%%VALUE(illustration)%%></textarea>
					</div>
				</div>

				<!-- Field: Escena -->
				<div class="form-group bio_chr_scene-scene">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="scene">Escena <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#scene-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="scene-description"><div class="alert alert-info bspacer-xs">Convierta el texto ahora en una escena dram&#225;tica aqu&#237;.</div></span>
						<textarea class="form-control" name="scene" id="scene" rows=" 5"><%%VALUE(scene)%%></textarea>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="bio_chr_scene_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="bio_chr_scene-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();


			setTimeout(function() {
				$j('#bio_chr_scene_dv_container-loading').addClass('hidden');
				$j('#bio_chr_scene_dv_container').removeClass('hidden');
				AppGini.focusFormElement('bio_chr_scene', 'biography');
			}, 1100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'bio_chr_scene',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'bio_chr_scene-children'
				);
			}

			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'bio_chr_scene',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=bio_chr_scene&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=bio_chr_scene&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>