<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group bio_chr_dev-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: MemberID -->
		<div class="form-group bio_chr_dev-agent_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MemberID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="agent_id<%%RND1%%>"><%%COMBOTEXT(agent_id)%%></span></div>
			</div>
		</div>
		<!-- Field: Agent name -->
		<div class="form-group bio_chr_dev-agent_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Agent name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="agent_name<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Bio story -->
		<div class="form-group bio_chr_dev-bio_story" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Bio story</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="bio_story<%%RND1%%>"><%%COMBOTEXT(bio_story)%%></span></div>
			</div>
		</div>
		<!-- Field: Cw name -->
		<div class="form-group bio_chr_dev-cw_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Cw name</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="cw_name<%%RND1%%>"><%%COMBOTEXT(cw_name)%%></span></div>
			</div>
		</div>
		<!-- Field: Dynamic point cat1 -->
		<div class="form-group bio_chr_dev-dp1_resolve" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dynamic point cat1</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="dp1_resolve<%%RND1%%>"><%%COMBOTEXT(dp1_resolve)%%></span></div>
			</div>
		</div>
		<!-- Field: Dynamic point cat2 -->
		<div class="form-group bio_chr_dev-dp2_resolve" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dynamic point cat2</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="dp2_resolve<%%RND1%%>"><%%COMBOTEXT(dp2_resolve)%%></span></div>
			</div>
		</div>
		<!-- Field: Dynamic point cat3 -->
		<div class="form-group bio_chr_dev-dp3_resolve" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dynamic point cat3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="dp3_resolve<%%RND1%%>"><%%COMBOTEXT(dp3_resolve)%%></span></div>
			</div>
		</div>
		<!-- Field: MC resolve -->
		<div class="form-group bio_chr_dev-mc_resolve" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">MC resolve</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mc_resolve<%%RND1%%>"><%%COMBOTEXT(mc_resolve)%%></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MC Resolve -->
		<div class="form-group bio_chr_dev-illust_resolve" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MC Resolve</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_resolve<%%RND1%%>"><%%COMBOTEXT(illust_resolve)%%></span></div>
			</div>
		</div>
		<!-- Field: Dynamic point cat3 -->
		<div class="form-group bio_chr_dev-dp3_growth" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dynamic point cat3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="dp3_growth<%%RND1%%>"><%%COMBOTEXT(dp3_growth)%%></span></div>
			</div>
		</div>
		<!-- Field: Growth -->
		<div class="form-group bio_chr_dev-mc_growth" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Growth</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mc_growth<%%RND1%%>"><%%COMBOTEXT(mc_growth)%%></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MC Growth -->
		<div class="form-group bio_chr_dev-illust_growth" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MC Growth</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_growth<%%RND1%%>"><%%COMBOTEXT(illust_growth)%%></span></div>
			</div>
		</div>
		<!-- Field: Dynamic point cat3 -->
		<div class="form-group bio_chr_dev-dp3_approach" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dynamic point cat3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="dp3_approach<%%RND1%%>"><%%COMBOTEXT(dp3_approach)%%></span></div>
			</div>
		</div>
		<!-- Field: Approach -->
		<div class="form-group bio_chr_dev-mc_approach" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Approach</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mc_approach<%%RND1%%>"><%%COMBOTEXT(mc_approach)%%></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MC Approach -->
		<div class="form-group bio_chr_dev-illust_approach" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MC Approach</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_approach<%%RND1%%>"><%%COMBOTEXT(illust_approach)%%></span></div>
			</div>
		</div>
		<!-- Field: Dynamic point cat3 -->
		<div class="form-group bio_chr_dev-dp3_psstyle" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Dynamic point cat3</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="dp3_psstyle<%%RND1%%>"><%%COMBOTEXT(dp3_psstyle)%%></span></div>
			</div>
		</div>
		<!-- Field: Problem Solving Style -->
		<div class="form-group bio_chr_dev-mc_ps_style" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Problem Solving Style</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mc_ps_style<%%RND1%%>"><%%COMBOTEXT(mc_ps_style)%%></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MC PS Style -->
		<div class="form-group bio_chr_dev-illust_ps_style" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MC PS Style</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_ps_style<%%RND1%%>"><%%COMBOTEXT(illust_ps_style)%%></span></div>
			</div>
		</div>
		<!-- Field: Age -->
		<div class="form-group bio_chr_dev-cw_age" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Age</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_age)%%></div>
			</div>
		</div>
		<!-- Field: Gender -->
		<div class="form-group bio_chr_dev-cw_gender" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Gender</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_gender)%%></div>
			</div>
		</div>
		<!-- Field: Communication style -->
		<div class="form-group bio_chr_dev-cw_communication_style" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Communication style</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_communication_style)%%></div>
			</div>
		</div>
		<!-- Field: Background -->
		<div class="form-group bio_chr_dev-cw_background" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Background</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_background)%%></div>
			</div>
		</div>
		<!-- Field: Appearance -->
		<div class="form-group bio_chr_dev-cw_appearance" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Appearance</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_appearance)%%></div>
			</div>
		</div>
		<!-- Field: Relationships -->
		<div class="form-group bio_chr_dev-cw_relationships" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Relationships</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_relationships)%%></div>
			</div>
		</div>
		<!-- Field: Ambition -->
		<div class="form-group bio_chr_dev-cw_ambition" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Ambition</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_ambition)%%></div>
			</div>
		</div>
		<!-- Field: Defects -->
		<div class="form-group bio_chr_dev-cw_defects" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Defects</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_defects)%%></div>
			</div>
		</div>
		<!-- Field: Thoughts -->
		<div class="form-group bio_chr_dev-cw_thoughts" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Thoughts</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_thoughts)%%></div>
			</div>
		</div>
		<!-- Field: Relatedness -->
		<div class="form-group bio_chr_dev-cw_relatedness" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Relatedness</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_relatedness)%%></div>
			</div>
		</div>
		<!-- Field: Restrictions -->
		<div class="form-group bio_chr_dev-cw_restrictions" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Restrictions</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(cw_restrictions)%%></div>
			</div>
		</div>
		<!-- Field: Locations -->
		<div class="form-group bio_chr_dev-locations" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Locations</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(locations)%%></div>
			</div>
		</div>
		<!-- Field: Persons -->
		<div class="form-group bio_chr_dev-persons" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Persons</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(persons)%%></div>
			</div>
		</div>
		<!-- Field: Events -->
		<div class="form-group bio_chr_dev-events" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Events</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(events)%%></div>
			</div>
		</div>
		<!-- Field: Noetic tension -->
		<div class="form-group bio_chr_dev-noetictension" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Noetic tension</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="noetictension<%%RND1%%>"><%%COMBOTEXT(noetictension)%%></span></div>
			</div>
		</div>
		<!-- Field: Illustration of Noetic Tension -->
		<div class="form-group bio_chr_dev-illust_nt" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of Noetic Tension</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_nt<%%RND1%%>"><%%COMBOTEXT(illust_nt)%%></span></div>
			</div>
		</div>
		<!-- Field: Overall Impression Management -->
		<div class="form-group bio_chr_dev-impression" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Overall Impression Management</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="impression<%%RND1%%>"><%%COMBOTEXT(impression)%%></span></div>
			</div>
		</div>
		<!-- Field: Illustration of Impression Mnmt. -->
		<div class="form-group bio_chr_dev-illust_im" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of Impression Mnmt.</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_im<%%RND1%%>"><%%COMBOTEXT(illust_im)%%></span></div>
			</div>
		</div>
		<!-- Field: Problem -->
		<div class="form-group bio_chr_dev-mcs_problem" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Problem</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mcs_problem<%%RND1%%>"><%%COMBOTEXT(mcs_problem)%%></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MCS Problem -->
		<div class="form-group bio_chr_dev-illust_mcs_problem" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MCS Problem</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_mcs_problem<%%RND1%%>"><%%COMBOTEXT(illust_mcs_problem)%%></span></div>
			</div>
		</div>
		<!-- Field: Solution -->
		<div class="form-group bio_chr_dev-mcs_solution" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Solution</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mcs_solution<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MCS Solution -->
		<div class="form-group bio_chr_dev-illust_mcs_solution" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MCS Solution</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_mcs_solution<%%RND1%%>"><%%COMBOTEXT(illust_mcs_solution)%%></span></div>
			</div>
		</div>
		<!-- Field: Symptom -->
		<div class="form-group bio_chr_dev-mcs_symptom" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Symptom</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mcs_symptom<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MCS Symptome -->
		<div class="form-group bio_chr_dev-illust_mcs_symptom" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MCS Symptome</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_mcs_symptom<%%RND1%%>"><%%COMBOTEXT(illust_mcs_symptom)%%></span></div>
			</div>
		</div>
		<!-- Field: Response -->
		<div class="form-group bio_chr_dev-mcs_response" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Response</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="mcs_response<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Illustration of MCS Response -->
		<div class="form-group bio_chr_dev-illust_mcs_response" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Illustration of MCS Response</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="illust_mcs_response<%%RND1%%>"><%%COMBOTEXT(illust_mcs_response)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="bio_chr_dev-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=bio_chr_dev-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'bio_chr_dev',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'bio_chr_dev-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

