<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the character_illustration_init() hook (in hooks/character_illustration.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="character_illustration-id-<%%VALUE(id)%%>" class="character_illustration-id text-right"><%%VALUE(id)%%></td>
		<td id="character_illustration-author-<%%VALUE(id)%%>" class="character_illustration-author text-right"><%%VALUE(author)%%></td>
		<td id="character_illustration-bibliography-<%%VALUE(id)%%>" class="character_illustration-bibliography text-right"><%%VALUE(bibliography)%%></td>
		<td id="character_illustration-transcript-<%%VALUE(id)%%>" class="character_illustration-transcript text-right"><%%VALUE(transcript)%%></td>
		<td id="character_illustration-token_sequence-<%%VALUE(id)%%>" class="character_illustration-token_sequence text-right"><%%VALUE(token_sequence)%%></td>
		<td id="character_illustration-token-<%%VALUE(id)%%>" class="character_illustration-token text-right"><%%VALUE(token)%%></td>
		<td id="character_illustration-code-<%%VALUE(id)%%>" class="character_illustration-code"><%%VALUE(code)%%></td>
		<td id="character_illustration-illustration-<%%VALUE(id)%%>" class="character_illustration-illustration"><%%VALUE(illustration)%%></td>
		<td id="character_illustration-comment-<%%VALUE(id)%%>" class="character_illustration-comment"><%%VALUE(comment)%%></td>
		<td id="character_illustration-character_element-<%%VALUE(id)%%>" class="character_illustration-character_element text-right"><%%VALUE(character_element)%%></td>
		<td id="character_illustration-character_elem_value-<%%VALUE(id)%%>" class="character_illustration-character_elem_value text-right"><%%VALUE(character_elem_value)%%></td>
		<td id="character_illustration-archetype-<%%VALUE(id)%%>" class="character_illustration-archetype"><%%VALUE(archetype)%%></td>
