<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the chr_scenes_1_init() hook (in hooks/chr_scenes_1.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="chr_scenes_1-id-<%%VALUE(id)%%>" class="chr_scenes_1-id text-right"><%%VALUE(id)%%></td>
		<td id="chr_scenes_1-author_id-<%%VALUE(id)%%>" class="chr_scenes_1-author_id text-right"><%%VALUE(author_id)%%></td>
		<td id="chr_scenes_1-author_name-<%%VALUE(id)%%>" class="chr_scenes_1-author_name"><%%VALUE(author_name)%%></td>
		<td id="chr_scenes_1-bibliography-<%%VALUE(id)%%>" class="chr_scenes_1-bibliography text-right"><%%VALUE(bibliography)%%></td>
		<td id="chr_scenes_1-transcript-<%%VALUE(id)%%>" class="chr_scenes_1-transcript text-right"><%%VALUE(transcript)%%></td>
		<td id="chr_scenes_1-token_sequence-<%%VALUE(id)%%>" class="chr_scenes_1-token_sequence text-right"><%%VALUE(token_sequence)%%></td>
		<td id="chr_scenes_1-token-<%%VALUE(id)%%>" class="chr_scenes_1-token text-right"><%%VALUE(token)%%></td>
		<td id="chr_scenes_1-invivo_code-<%%VALUE(id)%%>" class="chr_scenes_1-invivo_code text-right"><%%VALUE(invivo_code)%%></td>
		<td id="chr_scenes_1-startdate-<%%VALUE(id)%%>" class="chr_scenes_1-startdate text-right"><%%VALUE(startdate)%%></td>
		<td id="chr_scenes_1-enddate-<%%VALUE(id)%%>" class="chr_scenes_1-enddate text-right"><%%VALUE(enddate)%%></td>
		<td id="chr_scenes_1-person-<%%VALUE(id)%%>" class="chr_scenes_1-person text-right"><%%VALUE(person)%%></td>
		<td id="chr_scenes_1-place-<%%VALUE(id)%%>" class="chr_scenes_1-place text-right"><%%VALUE(place)%%></td>
		<td id="chr_scenes_1-herme_code-<%%VALUE(id)%%>" class="chr_scenes_1-herme_code text-right"><%%VALUE(herme_code)%%></td>
		<td id="chr_scenes_1-impression-<%%VALUE(id)%%>" class="chr_scenes_1-impression text-right"><%%VALUE(impression)%%></td>
		<td id="chr_scenes_1-noetictension-<%%VALUE(id)%%>" class="chr_scenes_1-noetictension text-right"><%%VALUE(noetictension)%%></td>
		<td id="chr_scenes_1-pc-<%%VALUE(id)%%>" class="chr_scenes_1-pc"><%%VALUE(pc)%%></td>
		<td id="chr_scenes_1-chr_element-<%%VALUE(id)%%>" class="chr_scenes_1-chr_element"><%%VALUE(chr_element)%%></td>
		<td id="chr_scenes_1-comment-<%%VALUE(id)%%>" class="chr_scenes_1-comment text-right"><%%VALUE(comment)%%></td>
		<td id="chr_scenes_1-illustration-<%%VALUE(id)%%>" class="chr_scenes_1-illustration"><%%VALUE(illustration)%%></td>
		<td id="chr_scenes_1-scene-<%%VALUE(id)%%>" class="chr_scenes_1-scene text-right"><%%VALUE(scene)%%></td>
