<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the chr_illustr_init() hook (in hooks/chr_illustr.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="chr_illustr-id-<%%VALUE(id)%%>" class="chr_illustr-id text-right"><%%VALUE(id)%%></td>
		<td id="chr_illustr-author_id-<%%VALUE(id)%%>" class="chr_illustr-author_id text-right"><%%VALUE(author_id)%%></td>
		<td id="chr_illustr-author_name-<%%VALUE(id)%%>" class="chr_illustr-author_name"><%%VALUE(author_name)%%></td>
		<td id="chr_illustr-bibliography-<%%VALUE(id)%%>" class="chr_illustr-bibliography text-right"><%%VALUE(bibliography)%%></td>
		<td id="chr_illustr-transcript-<%%VALUE(id)%%>" class="chr_illustr-transcript text-right"><%%VALUE(transcript)%%></td>
		<td id="chr_illustr-token_sequence-<%%VALUE(id)%%>" class="chr_illustr-token_sequence"><%%VALUE(token_sequence)%%></td>
		<td id="chr_illustr-token-<%%VALUE(id)%%>" class="chr_illustr-token text-right"><%%VALUE(token)%%></td>
		<td id="chr_illustr-code-<%%VALUE(id)%%>" class="chr_illustr-code"><%%VALUE(code)%%></td>
		<td id="chr_illustr-illustration-<%%VALUE(id)%%>" class="chr_illustr-illustration"><%%VALUE(illustration)%%></td>
		<td id="chr_illustr-comment-<%%VALUE(id)%%>" class="chr_illustr-comment"><%%VALUE(comment)%%></td>
		<td id="chr_illustr-character_element-<%%VALUE(id)%%>" class="chr_illustr-character_element text-right"><%%VALUE(character_element)%%></td>
		<td id="chr_illustr-character_elem_value-<%%VALUE(id)%%>" class="chr_illustr-character_elem_value text-right"><%%VALUE(character_elem_value)%%></td>
		<td id="chr_illustr-archetype-<%%VALUE(id)%%>" class="chr_illustr-archetype"><%%VALUE(archetype)%%></td>
