<!-- To change the layout of the detail view form, we recommend using JS code in hooks/chr_scenes_1-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="chr_scenes_1_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
<div class="panel-body hidden" id="chr_scenes_1_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="chr_scenes_1_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: ID -->
				<div class="form-group chr_scenes_1-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id">ID</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Author -->
				<div class="form-group chr_scenes_1-author_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="author_id" data-parent_link="view_parent_modal">Author</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(author_id)%%><%%PLINK(author_id)%%><%%ADDNEW(biblio_author)%%><span id="author_idLoading"></span></div>
					</div>
				</div>

				<!-- Field: Author name -->
				<div class="form-group chr_scenes_1-author_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Author name</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="author_name"></div>
					</div>
				</div>

				<!-- Field: Bibliography -->
				<div class="form-group chr_scenes_1-bibliography">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="bibliography" data-parent_link="view_parent_modal">Bibliography</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(bibliography)%%><%%PLINK(bibliography)%%><%%ADDNEW(biblio_doc)%%></div>
					</div>
				</div>

				<!-- Field: Transcript -->
				<div class="form-group chr_scenes_1-transcript">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="transcript" data-parent_link="view_parent_modal">Transcript</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(transcript)%%><%%PLINK(transcript)%%><%%ADDNEW(biblio_transcript)%%></div>
					</div>
				</div>

				<!-- Field: Token_sequence -->
				<div class="form-group chr_scenes_1-token_sequence">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Token_sequence</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="token_sequence"></div>
					</div>
				</div>

				<!-- Field: Token -->
				<div class="form-group chr_scenes_1-token">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="token" data-parent_link="view_parent_modal">Token</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(token)%%><%%PLINK(token)%%><%%ADDNEW(biblio_token)%%><span id="tokenLoading"></span></div>
					</div>
				</div>

				<!-- Field: Invivo_code -->
				<div class="form-group chr_scenes_1-invivo_code">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="invivo_code" data-parent_link="view_parent_modal">Invivo_code</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(invivo_code)%%><%%PLINK(invivo_code)%%><%%ADDNEW(biblio_code_invivo)%%><span id="invivo_codeLoading"></span></div>
					</div>
				</div>

				<!-- Field: Startdate -->
				<div class="form-group chr_scenes_1-startdate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="startdate" data-parent_link="view_parent_modal">Startdate</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(startdate)%%><%%PLINK(startdate)%%><%%ADDNEW(biblio_code_invivo)%%></div>
					</div>
				</div>

				<!-- Field: End_date -->
				<div class="form-group chr_scenes_1-enddate">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">End_date</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="enddate"></div>
					</div>
				</div>

				<!-- Field: Person -->
				<div class="form-group chr_scenes_1-person">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Person</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="person"></div>
					</div>
				</div>

				<!-- Field: Place -->
				<div class="form-group chr_scenes_1-place">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Place</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="place"></div>
					</div>
				</div>

				<!-- Field: Herme_code -->
				<div class="form-group chr_scenes_1-herme_code">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="herme_code" data-parent_link="view_parent_modal">Herme_code</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(herme_code)%%><%%PLINK(herme_code)%%><%%ADDNEW(bio_code_herme)%%><span id="herme_codeLoading"></span></div>
					</div>
				</div>

				<!-- Field: Impression -->
				<div class="form-group chr_scenes_1-impression">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Impression</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="impression"></div>
					</div>
				</div>

				<!-- Field: Noetictension -->
				<div class="form-group chr_scenes_1-noetictension">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Noetictension</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="noetictension"></div>
					</div>
				</div>

				<!-- Field: Pc -->
				<div class="form-group chr_scenes_1-pc">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Pc</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="pc"></div>
					</div>
				</div>

				<!-- Field: Chr element -->
				<div class="form-group chr_scenes_1-chr_element">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="chr_element" data-parent_link="view_parent_modal">Chr element</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(chr_element)%%><%%PLINK(chr_element)%%><%%ADDNEW(class_character_element)%%></div>
					</div>
				</div>

				<!-- Field: Comment -->
				<div class="form-group chr_scenes_1-comment">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="comment">Comment</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="comment" id="comment" rows=" 5"><%%VALUE(comment)%%></textarea>
					</div>
				</div>

				<!-- Field: Illustration -->
				<div class="form-group chr_scenes_1-illustration">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="illustration">Illustration</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="illustration" id="illustration" rows=" 5"><%%VALUE(illustration)%%></textarea>
					</div>
				</div>

				<!-- Field: Scene -->
				<div class="form-group chr_scenes_1-scene">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="scene">Scene <i class="glyphicon glyphicon-info-sign text-info" data-toggle="collapse" data-target="#scene-description"></i></label>
					<div class="col-lg-9">
						<span class="help-block bspacer-xs collapse" id="scene-description"><div class="alert alert-info bspacer-xs">Convert the text now into a drama scene here.</div></span>
						<textarea class="form-control" name="scene" id="scene" rows=" 5"><%%VALUE(scene)%%></textarea>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="chr_scenes_1_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();


			setTimeout(function() {
				$j('#chr_scenes_1_dv_container-loading').addClass('hidden');
				$j('#chr_scenes_1_dv_container').removeClass('hidden');
				AppGini.focusFormElement('chr_scenes_1', 'author_id');
			}, 1100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });


			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'chr_scenes_1',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=chr_scenes_1&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=chr_scenes_1&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>