<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the chr_scenes_init() hook (in hooks/chr_scenes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="chr_scenes-id-<%%VALUE(id)%%>" class="chr_scenes-id text-right"><%%VALUE(id)%%></td>
		<td id="chr_scenes-author_id-<%%VALUE(id)%%>" class="chr_scenes-author_id text-right"><%%VALUE(author_id)%%></td>
		<td id="chr_scenes-author_name-<%%VALUE(id)%%>" class="chr_scenes-author_name"><%%VALUE(author_name)%%></td>
		<td id="chr_scenes-bibliography-<%%VALUE(id)%%>" class="chr_scenes-bibliography text-right"><%%VALUE(bibliography)%%></td>
		<td id="chr_scenes-transcript-<%%VALUE(id)%%>" class="chr_scenes-transcript text-right"><%%VALUE(transcript)%%></td>
		<td id="chr_scenes-token_sequence-<%%VALUE(id)%%>" class="chr_scenes-token_sequence text-right"><%%VALUE(token_sequence)%%></td>
		<td id="chr_scenes-token-<%%VALUE(id)%%>" class="chr_scenes-token text-right"><%%VALUE(token)%%></td>
		<td id="chr_scenes-invivo_code-<%%VALUE(id)%%>" class="chr_scenes-invivo_code text-right"><%%VALUE(invivo_code)%%></td>
		<td id="chr_scenes-startdate-<%%VALUE(id)%%>" class="chr_scenes-startdate text-right"><%%VALUE(startdate)%%></td>
		<td id="chr_scenes-enddate-<%%VALUE(id)%%>" class="chr_scenes-enddate text-right"><%%VALUE(enddate)%%></td>
		<td id="chr_scenes-person-<%%VALUE(id)%%>" class="chr_scenes-person text-right"><%%VALUE(person)%%></td>
		<td id="chr_scenes-place-<%%VALUE(id)%%>" class="chr_scenes-place text-right"><%%VALUE(place)%%></td>
		<td id="chr_scenes-herme_code-<%%VALUE(id)%%>" class="chr_scenes-herme_code text-right"><%%VALUE(herme_code)%%></td>
		<td id="chr_scenes-impression-<%%VALUE(id)%%>" class="chr_scenes-impression text-right"><%%VALUE(impression)%%></td>
		<td id="chr_scenes-noetictension-<%%VALUE(id)%%>" class="chr_scenes-noetictension text-right"><%%VALUE(noetictension)%%></td>
		<td id="chr_scenes-pc-<%%VALUE(id)%%>" class="chr_scenes-pc"><%%VALUE(pc)%%></td>
		<td id="chr_scenes-chr_element-<%%VALUE(id)%%>" class="chr_scenes-chr_element"><%%VALUE(chr_element)%%></td>
		<td id="chr_scenes-comment-<%%VALUE(id)%%>" class="chr_scenes-comment text-right"><%%VALUE(comment)%%></td>
		<td id="chr_scenes-illustration-<%%VALUE(id)%%>" class="chr_scenes-illustration"><%%VALUE(illustration)%%></td>
		<td id="chr_scenes-scene-<%%VALUE(id)%%>" class="chr_scenes-scene text-right"><%%VALUE(scene)%%></td>
