<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the class_sdg_init() hook (in hooks/class_sdg.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="class_sdg-no-<%%VALUE(id)%%>" class="class_sdg-no"><%%SELECT%%><%%VALUE(no)%%><%%ENDSELECT%%></td>
		<td id="class_sdg-sdg_topic-<%%VALUE(id)%%>" class="class_sdg-sdg_topic"><%%SELECT%%><%%VALUE(sdg_topic)%%><%%ENDSELECT%%></td>
		<td id="class_sdg-description-<%%VALUE(id)%%>" class="class_sdg-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
		<td id="class_sdg-rank-<%%VALUE(id)%%>" class="class_sdg-rank"><%%SELECT%%><%%VALUE(rank)%%><%%ENDSELECT%%></td>
		<td id="class_sdg-av_rank-<%%VALUE(id)%%>" class="class_sdg-av_rank"><%%SELECT%%><%%VALUE(av_rank)%%><%%ENDSELECT%%></td>
		<td id="class_sdg-mentions-<%%VALUE(id)%%>" class="class_sdg-mentions"><%%SELECT%%><%%VALUE(mentions)%%><%%ENDSELECT%%></td>
		<td id="class_sdg-icon-<%%VALUE(id)%%>" class="class_sdg-icon"><a href="<%%BASE_UPLOAD_PATH%%><%%VALUE(icon)%%>" data-lightbox="class_sdg-icon"><img src="thumbnail.php?i=<%%VALUE(icon)%%>&t=class_sdg&f=icon&v=tv" class="img-thumbnail"></a></td>
