<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the class_goals_init() hook (in hooks/class_goals.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="class_goals-goal-<%%VALUE(id)%%>" class="class_goals-goal"><%%SELECT%%><%%VALUE(goal)%%><%%ENDSELECT%%></td>
		<td id="class_goals-class-<%%VALUE(id)%%>" class="class_goals-class"><%%SELECT%%><%%VALUE(class)%%><%%ENDSELECT%%></td>
		<td id="class_goals-description-<%%VALUE(id)%%>" class="class_goals-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
		<td id="class_goals-hierarchy-<%%VALUE(id)%%>" class="class_goals-hierarchy"><%%SELECT%%><%%VALUE(hierarchy)%%><%%ENDSELECT%%></td>
