<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the class_dilemma_init() hook (in hooks/class_dilemma.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="class_dilemma-defense-<%%VALUE(id)%%>" class="class_dilemma-defense"><%%SELECT%%><%%VALUE(defense)%%><%%ENDSELECT%%></td>
		<td id="class_dilemma-description-<%%VALUE(id)%%>" class="class_dilemma-description"><%%SELECT%%><%%VALUE(description)%%><%%ENDSELECT%%></td>
