<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the class_agent_religion_init() hook (in hooks/class_agent_religion.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="class_agent_religion-religion-<%%VALUE(id)%%>" class="class_agent_religion-religion"><%%VALUE(religion)%%></td>
		<td id="class_agent_religion-description-<%%VALUE(id)%%>" class="class_agent_religion-description"><%%VALUE(description)%%></td>
