<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the code_herme_init() hook (in hooks/code_herme.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="code_herme-id-<%%VALUE(id)%%>" class="code_herme-id text-right"><%%VALUE(id)%%></td>
		<td id="code_herme-author_id-<%%VALUE(id)%%>" class="code_herme-author_id text-right"><%%VALUE(author_id)%%></td>
		<td id="code_herme-author_name-<%%VALUE(id)%%>" class="code_herme-author_name"><%%VALUE(author_name)%%></td>
		<td id="code_herme-bibliography-<%%VALUE(id)%%>" class="code_herme-bibliography text-right"><%%VALUE(bibliography)%%></td>
		<td id="code_herme-transcript-<%%VALUE(id)%%>" class="code_herme-transcript text-right"><%%VALUE(transcript)%%></td>
		<td id="code_herme-token_sequence-<%%VALUE(id)%%>" class="code_herme-token_sequence text-right"><%%VALUE(token_sequence)%%></td>
		<td id="code_herme-token-<%%VALUE(id)%%>" class="code_herme-token text-right"><%%VALUE(token)%%></td>
		<td id="code_herme-hermeneutic-<%%VALUE(id)%%>" class="code_herme-hermeneutic"><%%VALUE(hermeneutic)%%></td>
		<td id="code_herme-impression-<%%VALUE(id)%%>" class="code_herme-impression text-right"><%%VALUE(impression)%%></td>
		<td id="code_herme-noetictension-<%%VALUE(id)%%>" class="code_herme-noetictension text-right"><%%VALUE(noetictension)%%></td>
		<td id="code_herme-quadrilemma-<%%VALUE(id)%%>" class="code_herme-quadrilemma"><%%VALUE(quadrilemma)%%></td>
		<td id="code_herme-pc-<%%VALUE(id)%%>" class="code_herme-pc"><%%VALUE(pc)%%></td>
		<td id="code_herme-freecode-<%%VALUE(id)%%>" class="code_herme-freecode"><%%VALUE(freecode)%%></td>
