<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the code_herme_init() hook (in hooks/code_herme.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="code_herme-id-<%%VALUE(id)%%>" class="code_herme-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="code_herme-author_id-<%%VALUE(id)%%>" class="code_herme-author_id text-right"><%%SELECT%%><%%VALUE(author_id)%%><%%ENDSELECT%%></td>
		<td id="code_herme-author_name-<%%VALUE(id)%%>" class="code_herme-author_name"><%%SELECT%%><%%VALUE(author_name)%%><%%ENDSELECT%%></td>
		<td id="code_herme-bibliography-<%%VALUE(id)%%>" class="code_herme-bibliography text-right"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="code_herme-transcript-<%%VALUE(id)%%>" class="code_herme-transcript text-right"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="code_herme-token_sequence-<%%VALUE(id)%%>" class="code_herme-token_sequence text-right"><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="code_herme-token-<%%VALUE(id)%%>" class="code_herme-token text-right"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="code_herme-hermeneutic-<%%VALUE(id)%%>" class="code_herme-hermeneutic"><%%SELECT%%><%%VALUE(hermeneutic)%%><%%ENDSELECT%%></td>
		<td id="code_herme-impression-<%%VALUE(id)%%>" class="code_herme-impression text-right"><%%SELECT%%><%%VALUE(impression)%%><%%ENDSELECT%%></td>
		<td id="code_herme-noetictension-<%%VALUE(id)%%>" class="code_herme-noetictension text-right"><%%SELECT%%><%%VALUE(noetictension)%%><%%ENDSELECT%%></td>
		<td id="code_herme-quadrilemma-<%%VALUE(id)%%>" class="code_herme-quadrilemma"><%%SELECT%%><%%VALUE(quadrilemma)%%><%%ENDSELECT%%></td>
		<td id="code_herme-pc-<%%VALUE(id)%%>" class="code_herme-pc"><%%SELECT%%><%%VALUE(pc)%%><%%ENDSELECT%%></td>
		<td id="code_herme-freecode-<%%VALUE(id)%%>" class="code_herme-freecode"><%%SELECT%%><%%VALUE(freecode)%%><%%ENDSELECT%%></td>
