<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the code_invivo_init() hook (in hooks/code_invivo.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="code_invivo-id-<%%VALUE(id)%%>" class="code_invivo-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-author-<%%VALUE(id)%%>" class="code_invivo-author text-right"><%%SELECT%%><%%VALUE(author)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-bibliography-<%%VALUE(id)%%>" class="code_invivo-bibliography text-right"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-transcript-<%%VALUE(id)%%>" class="code_invivo-transcript text-right"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-token_sequence-<%%VALUE(id)%%>" class="code_invivo-token_sequence text-right"><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-token-<%%VALUE(id)%%>" class="code_invivo-token text-right"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-invivo-<%%VALUE(id)%%>" class="code_invivo-invivo"><%%SELECT%%><%%VALUE(invivo)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-start_date-<%%VALUE(id)%%>" class="code_invivo-start_date"><%%SELECT%%><%%VALUE(start_date)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-end_date-<%%VALUE(id)%%>" class="code_invivo-end_date"><%%SELECT%%><%%VALUE(end_date)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-person-<%%VALUE(id)%%>" class="code_invivo-person"><%%SELECT%%><%%VALUE(person)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-place-<%%VALUE(id)%%>" class="code_invivo-place"><%%SELECT%%><%%VALUE(place)%%><%%ENDSELECT%%></td>
		<td id="code_invivo-freecode-<%%VALUE(id)%%>" class="code_invivo-freecode"><%%SELECT%%><%%VALUE(freecode)%%><%%ENDSELECT%%></td>
