<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the code_chrev_scenes_init() hook (in hooks/code_chrev_scenes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="code_chrev_scenes-id-<%%VALUE(id)%%>" class="code_chrev_scenes-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-agent-<%%VALUE(id)%%>" class="code_chrev_scenes-agent text-right"><%%SELECT%%><%%VALUE(agent)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-author-<%%VALUE(id)%%>" class="code_chrev_scenes-author text-right"><%%SELECT%%><%%VALUE(author)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-bibliography-<%%VALUE(id)%%>" class="code_chrev_scenes-bibliography text-right"><%%SELECT%%><%%VALUE(bibliography)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-transcript-<%%VALUE(id)%%>" class="code_chrev_scenes-transcript text-right"><%%SELECT%%><%%VALUE(transcript)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-token_sequence-<%%VALUE(id)%%>" class="code_chrev_scenes-token_sequence text-right"><%%SELECT%%><%%VALUE(token_sequence)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-token-<%%VALUE(id)%%>" class="code_chrev_scenes-token text-right"><%%SELECT%%><%%VALUE(token)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-invivo_code-<%%VALUE(id)%%>" class="code_chrev_scenes-invivo_code text-right"><%%SELECT%%><%%VALUE(invivo_code)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-startdate-<%%VALUE(id)%%>" class="code_chrev_scenes-startdate text-right"><%%SELECT%%><%%VALUE(startdate)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-enddate-<%%VALUE(id)%%>" class="code_chrev_scenes-enddate text-right"><%%SELECT%%><%%VALUE(enddate)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-person-<%%VALUE(id)%%>" class="code_chrev_scenes-person text-right"><%%SELECT%%><%%VALUE(person)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-place-<%%VALUE(id)%%>" class="code_chrev_scenes-place text-right"><%%SELECT%%><%%VALUE(place)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-freecode-<%%VALUE(id)%%>" class="code_chrev_scenes-freecode text-right"><%%SELECT%%><%%VALUE(freecode)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-herme_code-<%%VALUE(id)%%>" class="code_chrev_scenes-herme_code text-right"><%%SELECT%%><%%VALUE(herme_code)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-impression-<%%VALUE(id)%%>" class="code_chrev_scenes-impression text-right"><%%SELECT%%><%%VALUE(impression)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-noetictension-<%%VALUE(id)%%>" class="code_chrev_scenes-noetictension text-right"><%%SELECT%%><%%VALUE(noetictension)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-pc-<%%VALUE(id)%%>" class="code_chrev_scenes-pc"><%%SELECT%%><%%VALUE(pc)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-comment-<%%VALUE(id)%%>" class="code_chrev_scenes-comment text-right"><%%SELECT%%><%%VALUE(comment)%%><%%ENDSELECT%%></td>
		<td id="code_chrev_scenes-scene-<%%VALUE(id)%%>" class="code_chrev_scenes-scene text-right"><%%SELECT%%><%%VALUE(scene)%%><%%ENDSELECT%%></td>
