<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the code_character_development_init() hook (in hooks/code_character_development.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="code_character_development-id-<%%VALUE(id)%%>" class="code_character_development-id text-right"><%%VALUE(id)%%></td>
		<td id="code_character_development-agent-<%%VALUE(id)%%>" class="code_character_development-agent text-right"><%%VALUE(agent)%%></td>
		<td id="code_character_development-story-<%%VALUE(id)%%>" class="code_character_development-story text-right"><%%VALUE(story)%%></td>
		<td id="code_character_development-story_character-<%%VALUE(id)%%>" class="code_character_development-story_character text-right"><%%VALUE(story_character)%%></td>
		<td id="code_character_development-author-<%%VALUE(id)%%>" class="code_character_development-author text-right"><%%VALUE(author)%%></td>
		<td id="code_character_development-bibliography-<%%VALUE(id)%%>" class="code_character_development-bibliography text-right"><%%VALUE(bibliography)%%></td>
		<td id="code_character_development-transcript-<%%VALUE(id)%%>" class="code_character_development-transcript text-right"><%%VALUE(transcript)%%></td>
		<td id="code_character_development-token_sequence-<%%VALUE(id)%%>" class="code_character_development-token_sequence text-right"><%%VALUE(token_sequence)%%></td>
		<td id="code_character_development-token-<%%VALUE(id)%%>" class="code_character_development-token text-right"><%%VALUE(token)%%></td>
		<td id="code_character_development-code-<%%VALUE(id)%%>" class="code_character_development-code text-right"><%%VALUE(code)%%></td>
		<td id="code_character_development-character_element-<%%VALUE(id)%%>" class="code_character_development-character_element text-right"><%%VALUE(character_element)%%></td>
		<td id="code_character_development-character_elem_value-<%%VALUE(id)%%>" class="code_character_development-character_elem_value text-right"><%%VALUE(character_elem_value)%%></td>
		<td id="code_character_development-comment-<%%VALUE(id)%%>" class="code_character_development-comment"><%%VALUE(comment)%%></td>
