<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the code_encounter_scenes_init() hook (in hooks/code_encounter_scenes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="code_encounter_scenes-id-<%%VALUE(id)%%>" class="code_encounter_scenes-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="code_encounter_scenes-scene-<%%VALUE(id)%%>" class="code_encounter_scenes-scene"><%%SELECT%%><%%VALUE(scene)%%><%%ENDSELECT%%></td>
