<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_story_chrs_init() hook (in hooks/hist_story_chrs.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_story_chrs-id-<%%VALUE(id)%%>" class="hist_story_chrs-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_story_chrs-team-<%%VALUE(id)%%>" class="hist_story_chrs-team"><%%VALUE(team)%%></td>
		<td id="hist_story_chrs-hist_lead_id-<%%VALUE(id)%%>" class="hist_story_chrs-hist_lead_id"><%%VALUE(hist_lead_id)%%></td>
		<td id="hist_story_chrs-hist_lead_name-<%%VALUE(id)%%>" class="hist_story_chrs-hist_lead_name"><%%VALUE(hist_lead_name)%%></td>
		<td id="hist_story_chrs-hist_story-<%%VALUE(id)%%>" class="hist_story_chrs-hist_story text-right"><%%VALUE(hist_story)%%></td>
		<td id="hist_story_chrs-agent_id-<%%VALUE(id)%%>" class="hist_story_chrs-agent_id"><%%VALUE(agent_id)%%></td>
		<td id="hist_story_chrs-agent_name-<%%VALUE(id)%%>" class="hist_story_chrs-agent_name"><%%VALUE(agent_name)%%></td>
		<td id="hist_story_chrs-bio_story-<%%VALUE(id)%%>" class="hist_story_chrs-bio_story"><%%VALUE(bio_story)%%></td>
		<td id="hist_story_chrs-story_character-<%%VALUE(id)%%>" class="hist_story_chrs-story_character"><%%VALUE(story_character)%%></td>
		<td id="hist_story_chrs-story_archetype-<%%VALUE(id)%%>" class="hist_story_chrs-story_archetype text-right"><%%VALUE(story_archetype)%%></td>
		<td id="hist_story_chrs-role-<%%VALUE(id)%%>" class="hist_story_chrs-role"><%%VALUE(role)%%></td>
		<td id="hist_story_chrs-comment-<%%VALUE(id)%%>" class="hist_story_chrs-comment"><%%VALUE(comment)%%></td>
