<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_chr_init() hook (in hooks/hist_chr.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_chr-id-<%%VALUE(id)%%>" class="hist_chr-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_chr-team-<%%VALUE(id)%%>" class="hist_chr-team"><%%VALUE(team)%%></td>
		<td id="hist_chr-hist_lead_id-<%%VALUE(id)%%>" class="hist_chr-hist_lead_id"><%%VALUE(hist_lead_id)%%></td>
		<td id="hist_chr-hist_lead_name-<%%VALUE(id)%%>" class="hist_chr-hist_lead_name"><%%VALUE(hist_lead_name)%%></td>
		<td id="hist_chr-hist_story-<%%VALUE(id)%%>" class="hist_chr-hist_story text-right"><%%VALUE(hist_story)%%></td>
		<td id="hist_chr-agent_id-<%%VALUE(id)%%>" class="hist_chr-agent_id"><%%VALUE(agent_id)%%></td>
		<td id="hist_chr-agent_name-<%%VALUE(id)%%>" class="hist_chr-agent_name"><%%VALUE(agent_name)%%></td>
		<td id="hist_chr-bio_story-<%%VALUE(id)%%>" class="hist_chr-bio_story"><%%VALUE(bio_story)%%></td>
		<td id="hist_chr-story_character-<%%VALUE(id)%%>" class="hist_chr-story_character"><%%VALUE(story_character)%%></td>
		<td id="hist_chr-story_archetype-<%%VALUE(id)%%>" class="hist_chr-story_archetype text-right"><%%VALUE(story_archetype)%%></td>
		<td id="hist_chr-character_name-<%%VALUE(id)%%>" class="hist_chr-character_name"><%%VALUE(character_name)%%></td>
		<td id="hist_chr-role-<%%VALUE(id)%%>" class="hist_chr-role"><%%VALUE(role)%%></td>
		<td id="hist_chr-comment-<%%VALUE(id)%%>" class="hist_chr-comment"><%%VALUE(comment)%%></td>
