<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_chr_scene_init() hook (in hooks/hist_chr_scene.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_chr_scene-id-<%%VALUE(id)%%>" class="hist_chr_scene-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_chr_scene-team-<%%VALUE(id)%%>" class="hist_chr_scene-team"><%%VALUE(team)%%></td>
		<td id="hist_chr_scene-author_id-<%%VALUE(id)%%>" class="hist_chr_scene-author_id text-right"><%%VALUE(author_id)%%></td>
		<td id="hist_chr_scene-author_name-<%%VALUE(id)%%>" class="hist_chr_scene-author_name"><%%VALUE(author_name)%%></td>
		<td id="hist_chr_scene-hist_story-<%%VALUE(id)%%>" class="hist_chr_scene-hist_story"><%%VALUE(hist_story)%%></td>
		<td id="hist_chr_scene-agent_id-<%%VALUE(id)%%>" class="hist_chr_scene-agent_id"><%%VALUE(agent_id)%%></td>
		<td id="hist_chr_scene-agent_name-<%%VALUE(id)%%>" class="hist_chr_scene-agent_name"><%%VALUE(agent_name)%%></td>
		<td id="hist_chr_scene-bio_story-<%%VALUE(id)%%>" class="hist_chr_scene-bio_story text-right"><%%VALUE(bio_story)%%></td>
		<td id="hist_chr_scene-hist_chr-<%%VALUE(id)%%>" class="hist_chr_scene-hist_chr"><%%VALUE(hist_chr)%%></td>
		<td id="hist_chr_scene-bio_storyline_no-<%%VALUE(id)%%>" class="hist_chr_scene-bio_storyline_no text-right"><%%VALUE(bio_storyline_no)%%></td>
		<td id="hist_chr_scene-bio_storyline_text-<%%VALUE(id)%%>" class="hist_chr_scene-bio_storyline_text text-right"><%%VALUE(bio_storyline_text)%%></td>
		<td id="hist_chr_scene-chr_element-<%%VALUE(id)%%>" class="hist_chr_scene-chr_element"><%%VALUE(chr_element)%%></td>
		<td id="hist_chr_scene-bio_chr_scene-<%%VALUE(id)%%>" class="hist_chr_scene-bio_chr_scene"><%%VALUE(bio_chr_scene)%%></td>
		<td id="hist_chr_scene-invivo_code-<%%VALUE(id)%%>" class="hist_chr_scene-invivo_code"><%%VALUE(invivo_code)%%></td>
		<td id="hist_chr_scene-startdate-<%%VALUE(id)%%>" class="hist_chr_scene-startdate"><%%VALUE(startdate)%%></td>
		<td id="hist_chr_scene-enddate-<%%VALUE(id)%%>" class="hist_chr_scene-enddate"><%%VALUE(enddate)%%></td>
		<td id="hist_chr_scene-person-<%%VALUE(id)%%>" class="hist_chr_scene-person"><%%VALUE(person)%%></td>
		<td id="hist_chr_scene-place-<%%VALUE(id)%%>" class="hist_chr_scene-place"><%%VALUE(place)%%></td>
		<td id="hist_chr_scene-herme_code-<%%VALUE(id)%%>" class="hist_chr_scene-herme_code"><%%VALUE(herme_code)%%></td>
		<td id="hist_chr_scene-impression-<%%VALUE(id)%%>" class="hist_chr_scene-impression"><%%VALUE(impression)%%></td>
		<td id="hist_chr_scene-noetictension-<%%VALUE(id)%%>" class="hist_chr_scene-noetictension"><%%VALUE(noetictension)%%></td>
		<td id="hist_chr_scene-pc-<%%VALUE(id)%%>" class="hist_chr_scene-pc"><%%VALUE(pc)%%></td>
		<td id="hist_chr_scene-counterfactual-<%%VALUE(id)%%>" class="hist_chr_scene-counterfactual"><%%VALUE(counterfactual)%%></td>
		<td id="hist_chr_scene-dilemma-<%%VALUE(id)%%>" class="hist_chr_scene-dilemma"><%%VALUE(dilemma)%%></td>
		<td id="hist_chr_scene-comment-<%%VALUE(id)%%>" class="hist_chr_scene-comment text-right"><%%VALUE(comment)%%></td>
		<td id="hist_chr_scene-illustration-<%%VALUE(id)%%>" class="hist_chr_scene-illustration"><%%VALUE(illustration)%%></td>
		<td id="hist_chr_scene-scene-<%%VALUE(id)%%>" class="hist_chr_scene-scene text-right"><%%VALUE(scene)%%></td>
