<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_storylines_init() hook (in hooks/hist_storylines.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_storylines-id-<%%VALUE(id)%%>" class="hist_storylines-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_storylines-story-<%%VALUE(id)%%>" class="hist_storylines-story text-right"><%%VALUE(story)%%></td>
		<td id="hist_storylines-story_act-<%%VALUE(id)%%>" class="hist_storylines-story_act"><%%VALUE(story_act)%%></td>
		<td id="hist_storylines-character-<%%VALUE(id)%%>" class="hist_storylines-character text-right"><%%VALUE(character)%%></td>
		<td id="hist_storylines-role-<%%VALUE(id)%%>" class="hist_storylines-role text-right"><%%VALUE(role)%%></td>
		<td id="hist_storylines-storyline_no-<%%VALUE(id)%%>" class="hist_storylines-storyline_no"><%%VALUE(storyline_no)%%></td>
		<td id="hist_storylines-parenthetic-<%%VALUE(id)%%>" class="hist_storylines-parenthetic"><%%VALUE(parenthetic)%%></td>
		<td id="hist_storylines-storyline_title-<%%VALUE(id)%%>" class="hist_storylines-storyline_title"><%%VALUE(storyline_title)%%></td>
		<td id="hist_storylines-storyline-<%%VALUE(id)%%>" class="hist_storylines-storyline"><%%VALUE(storyline)%%></td>
		<td id="hist_storylines-notes-<%%VALUE(id)%%>" class="hist_storylines-notes"><%%VALUE(notes)%%></td>
		<td id="hist_storylines-storyweaving_scene_no-<%%VALUE(id)%%>" class="hist_storylines-storyweaving_scene_no text-right"><%%VALUE(storyweaving_scene_no)%%></td>
		<td id="hist_storylines-storyweaving_scene-<%%VALUE(id)%%>" class="hist_storylines-storyweaving_scene text-right"><%%VALUE(storyweaving_scene)%%></td>
		<td id="hist_storylines-storyweaving_sequence-<%%VALUE(id)%%>" class="hist_storylines-storyweaving_sequence text-right"><%%VALUE(storyweaving_sequence)%%></td>
		<td id="hist_storylines-storyweaving_theme-<%%VALUE(id)%%>" class="hist_storylines-storyweaving_theme text-right"><%%VALUE(storyweaving_theme)%%></td>
		<td id="hist_storylines-characterevent_scene-<%%VALUE(id)%%>" class="hist_storylines-characterevent_scene text-right"><%%VALUE(characterevent_scene)%%></td>
		<td id="hist_storylines-character_event-<%%VALUE(id)%%>" class="hist_storylines-character_event text-right"><%%VALUE(character_event)%%></td>
