<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group hist_story-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Equipo -->
		<div class="form-group hist_story-team" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Equipo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="team<%%RND1%%>"><%%COMBOTEXT(team)%%></span></div>
			</div>
		</div>
		<!-- Field: ID histori&#243;grafo -->
		<div class="form-group hist_story-hist_author_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID histori&#243;grafo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="hist_author_id<%%RND1%%>"><%%COMBOTEXT(hist_author_id)%%></span></div>
			</div>
		</div>
		<!-- Field: Nombre de histori&#243;grafo -->
		<div class="form-group hist_story-hist_author_name" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nombre de histori&#243;grafo</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="hist_author_name<%%RND1%%>"></span></div>
			</div>
		</div>
		<!-- Field: Comunidad -->
		<div class="form-group hist_story-community_id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Comunidad</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="community_id<%%RND1%%>"><%%COMBOTEXT(community_id)%%></span></div>
			</div>
		</div>
		<!-- Field: T&#237;tulo de la historia -->
		<div class="form-group hist_story-story_title" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">T&#237;tulo de la historia</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(story_title)%%></div>
			</div>
		</div>
		<!-- Field: G&#233;nero literario -->
		<div class="form-group hist_story-genre" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">G&#233;nero literario</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="genre<%%RND1%%>"><%%COMBOTEXT(genre)%%></span></div>
			</div>
		</div>
		<!-- Field: Enfoque -->
		<div class="form-group hist_story-approach" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Enfoque</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(approach)%%></div>
			</div>
		</div>
		<!-- Field: Descripci&#243;n -->
		<div class="form-group hist_story-description" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Descripci&#243;n</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(description)%%></div>
			</div>
		</div>
		<!-- Field: Etiquetas -->
		<div class="form-group hist_story-tags" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Etiquetas</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%COMBOTEXT(tags)%%></div>
			</div>
		</div>
		<!-- Field: Nivel de colaboraci&#243;n -->
		<div class="form-group hist_story-collaboration_status" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Nivel de colaboraci&#243;n</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="collaboration_status<%%RND1%%>"><%%COMBOTEXT(collaboration_status)%%></span></div>
			</div>
		</div>
		<!-- Field: Idioma -->
		<div class="form-group hist_story-language" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Idioma</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="language<%%RND1%%>"><%%COMBOTEXT(language)%%></span></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="hist_story-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=hist_story-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'hist_story',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'hist_story-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

