<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<!-- Field: ID -->
		<div class="form-group hist_storyweaving_scene-id" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<!-- Field: Story -->
		<div class="form-group hist_storyweaving_scene-story" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Story</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="story<%%RND1%%>"><%%COMBOTEXT(story)%%></span></div>
			</div>
		</div>
		<!-- Field: Step -->
		<div class="form-group hist_storyweaving_scene-step" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Step</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="step<%%RND1%%>"><%%COMBOTEXT(step)%%></span></div>
			</div>
		</div>
		<!-- Field: Throughline -->
		<div class="form-group hist_storyweaving_scene-throughline" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Throughline</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="throughline<%%RND1%%>"><%%COMBOTEXT(throughline)%%></span></div>
			</div>
		</div>
		<!-- Field: Domain -->
		<div class="form-group hist_storyweaving_scene-domain" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Domain</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="domain<%%RND1%%>"><%%COMBOTEXT(domain)%%></span></div>
			</div>
		</div>
		<!-- Field: Concern -->
		<div class="form-group hist_storyweaving_scene-concern" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Concern</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="concern<%%RND1%%>"><%%COMBOTEXT(concern)%%></span></div>
			</div>
		</div>
		<!-- Field: Issue -->
		<div class="form-group hist_storyweaving_scene-issue" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Issue</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="issue<%%RND1%%>"><%%COMBOTEXT(issue)%%></span></div>
			</div>
		</div>
		<!-- Field: Theme -->
		<div class="form-group hist_storyweaving_scene-theme" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Theme</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="theme<%%RND1%%>"><%%COMBOTEXT(theme)%%></span></div>
			</div>
		</div>
		<!-- Field: Sequence -->
		<div class="form-group hist_storyweaving_scene-sequence" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Sequence</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(sequence)%%></div>
			</div>
		</div>
		<!-- Field: Encoding -->
		<div class="form-group hist_storyweaving_scene-encoding" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Encoding</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(encoding)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="hist_storyweaving_scene-children"></div>
</div>

<script>
	$j(function() {
		/* prevent loading child records in multiple DVP */
		if($j('[id=hist_storyweaving_scene-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'hist_storyweaving_scene',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'hist_storyweaving_scene-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function() {
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

