<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_authors_init() hook (in hooks/hist_authors.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_authors-id-<%%VALUE(id)%%>" class="hist_authors-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_authors-team-<%%VALUE(id)%%>" class="hist_authors-team"><%%VALUE(team)%%></td>
		<td id="hist_authors-agent_id-<%%VALUE(id)%%>" class="hist_authors-agent_id"><%%VALUE(agent_id)%%></td>
		<td id="hist_authors-last_name-<%%VALUE(id)%%>" class="hist_authors-last_name"><%%VALUE(last_name)%%></td>
		<td id="hist_authors-first_name-<%%VALUE(id)%%>" class="hist_authors-first_name"><%%VALUE(first_name)%%></td>
