<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_encounter_init() hook (in hooks/hist_encounter.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_encounter-id-<%%VALUE(id)%%>" class="hist_encounter-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-hist_story-<%%VALUE(id)%%>" class="hist_encounter-hist_story"><%%SELECT%%><%%VALUE(hist_story)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-agentA-<%%VALUE(id)%%>" class="hist_encounter-agentA text-right"><%%SELECT%%><%%VALUE(agentA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-agent_nameA-<%%VALUE(id)%%>" class="hist_encounter-agent_nameA text-right"><%%SELECT%%><%%VALUE(agent_nameA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_storyA-<%%VALUE(id)%%>" class="hist_encounter-bio_storyA"><%%SELECT%%><%%VALUE(bio_storyA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-hist_chrA-<%%VALUE(id)%%>" class="hist_encounter-hist_chrA"><%%SELECT%%><%%VALUE(hist_chrA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_chr_sceneA-<%%VALUE(id)%%>" class="hist_encounter-bio_chr_sceneA text-right"><%%SELECT%%><%%VALUE(bio_chr_sceneA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_impressionA-<%%VALUE(id)%%>" class="hist_encounter-bio_impressionA"><%%SELECT%%><%%VALUE(bio_impressionA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_ntA-<%%VALUE(id)%%>" class="hist_encounter-bio_ntA"><%%SELECT%%><%%VALUE(bio_ntA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_counterfactualA-<%%VALUE(id)%%>" class="hist_encounter-bio_counterfactualA"><%%SELECT%%><%%VALUE(bio_counterfactualA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_dilemmaA-<%%VALUE(id)%%>" class="hist_encounter-bio_dilemmaA"><%%SELECT%%><%%VALUE(bio_dilemmaA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_sdgA-<%%VALUE(id)%%>" class="hist_encounter-bio_sdgA"><%%SELECT%%><%%VALUE(bio_sdgA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-startdateA-<%%VALUE(id)%%>" class="hist_encounter-startdateA"><%%SELECT%%><%%VALUE(startdateA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-enddateA-<%%VALUE(id)%%>" class="hist_encounter-enddateA"><%%SELECT%%><%%VALUE(enddateA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-sceneA-<%%VALUE(id)%%>" class="hist_encounter-sceneA text-right"><%%SELECT%%><%%VALUE(sceneA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-agentB-<%%VALUE(id)%%>" class="hist_encounter-agentB text-right"><%%SELECT%%><%%VALUE(agentB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-agent_nameB-<%%VALUE(id)%%>" class="hist_encounter-agent_nameB text-right"><%%SELECT%%><%%VALUE(agent_nameB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_storyB-<%%VALUE(id)%%>" class="hist_encounter-bio_storyB"><%%SELECT%%><%%VALUE(bio_storyB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-hist_chrB-<%%VALUE(id)%%>" class="hist_encounter-hist_chrB"><%%SELECT%%><%%VALUE(hist_chrB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_chr_sceneB-<%%VALUE(id)%%>" class="hist_encounter-bio_chr_sceneB text-right"><%%SELECT%%><%%VALUE(bio_chr_sceneB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_impressionB-<%%VALUE(id)%%>" class="hist_encounter-bio_impressionB"><%%SELECT%%><%%VALUE(bio_impressionB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_ntB-<%%VALUE(id)%%>" class="hist_encounter-bio_ntB"><%%SELECT%%><%%VALUE(bio_ntB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_counterfactualB-<%%VALUE(id)%%>" class="hist_encounter-bio_counterfactualB"><%%SELECT%%><%%VALUE(bio_counterfactualB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_dilemmaB-<%%VALUE(id)%%>" class="hist_encounter-bio_dilemmaB"><%%SELECT%%><%%VALUE(bio_dilemmaB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-bio_sdgB-<%%VALUE(id)%%>" class="hist_encounter-bio_sdgB"><%%SELECT%%><%%VALUE(bio_sdgB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-startdateB-<%%VALUE(id)%%>" class="hist_encounter-startdateB"><%%SELECT%%><%%VALUE(startdateB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-enddateB-<%%VALUE(id)%%>" class="hist_encounter-enddateB"><%%SELECT%%><%%VALUE(enddateB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-relation_description-<%%VALUE(id)%%>" class="hist_encounter-relation_description"><%%SELECT%%><%%VALUE(relation_description)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-type-<%%VALUE(id)%%>" class="hist_encounter-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-conflicttype-<%%VALUE(id)%%>" class="hist_encounter-conflicttype"><%%SELECT%%><%%VALUE(conflicttype)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-sdg_intgr-<%%VALUE(id)%%>" class="hist_encounter-sdg_intgr"><%%SELECT%%><%%VALUE(sdg_intgr)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-story_scene-<%%VALUE(id)%%>" class="hist_encounter-story_scene text-right"><%%SELECT%%><%%VALUE(story_scene)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-nd_color-<%%VALUE(id)%%>" class="hist_encounter-nd_color text-right"><%%SELECT%%><%%VALUE(nd_color)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-nd_width-<%%VALUE(id)%%>" class="hist_encounter-nd_width"><%%SELECT%%><%%VALUE(nd_width)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-nd_style-<%%VALUE(id)%%>" class="hist_encounter-nd_style"><%%SELECT%%><%%VALUE(nd_style)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-nd_opacity-<%%VALUE(id)%%>" class="hist_encounter-nd_opacity"><%%SELECT%%><%%VALUE(nd_opacity)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-nd_visibility-<%%VALUE(id)%%>" class="hist_encounter-nd_visibility"><%%SELECT%%><%%VALUE(nd_visibility)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-lbl_lable-<%%VALUE(id)%%>" class="hist_encounter-lbl_lable"><%%SELECT%%><%%VALUE(lbl_lable)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-lbl_color-<%%VALUE(id)%%>" class="hist_encounter-lbl_color"><%%SELECT%%><%%VALUE(lbl_color)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-lbl_size-<%%VALUE(id)%%>" class="hist_encounter-lbl_size"><%%SELECT%%><%%VALUE(lbl_size)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-encounter_team-<%%VALUE(id)%%>" class="hist_encounter-encounter_team"><%%SELECT%%><%%VALUE(encounter_team)%%><%%ENDSELECT%%></td>
		<td id="hist_encounter-encounter_analyst-<%%VALUE(id)%%>" class="hist_encounter-encounter_analyst"><%%SELECT%%><%%VALUE(encounter_analyst)%%><%%ENDSELECT%%></td>
