<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_encounters_init() hook (in hooks/hist_encounters.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_encounters-id-<%%VALUE(id)%%>" class="hist_encounters-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_chrA-<%%VALUE(id)%%>" class="hist_encounters-bio_chrA text-right"><%%SELECT%%><%%VALUE(bio_chrA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_storyA-<%%VALUE(id)%%>" class="hist_encounters-bio_storyA text-right"><%%SELECT%%><%%VALUE(bio_storyA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_storyline-<%%VALUE(id)%%>" class="hist_encounters-bio_storyline text-right"><%%SELECT%%><%%VALUE(bio_storyline)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_storytext-<%%VALUE(id)%%>" class="hist_encounters-bio_storytext"><%%SELECT%%><%%VALUE(bio_storytext)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-sceneA-<%%VALUE(id)%%>" class="hist_encounters-sceneA text-right"><%%SELECT%%><%%VALUE(sceneA)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_chrB-<%%VALUE(id)%%>" class="hist_encounters-bio_chrB text-right"><%%SELECT%%><%%VALUE(bio_chrB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_storyB-<%%VALUE(id)%%>" class="hist_encounters-bio_storyB text-right"><%%SELECT%%><%%VALUE(bio_storyB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_storylineB-<%%VALUE(id)%%>" class="hist_encounters-bio_storylineB text-right"><%%SELECT%%><%%VALUE(bio_storylineB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-bio_storytextB-<%%VALUE(id)%%>" class="hist_encounters-bio_storytextB text-right"><%%SELECT%%><%%VALUE(bio_storytextB)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-type-<%%VALUE(id)%%>" class="hist_encounters-type"><%%SELECT%%><%%VALUE(type)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-conflicttype-<%%VALUE(id)%%>" class="hist_encounters-conflicttype"><%%SELECT%%><%%VALUE(conflicttype)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-story_scene-<%%VALUE(id)%%>" class="hist_encounters-story_scene text-right"><%%SELECT%%><%%VALUE(story_scene)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-nd_color-<%%VALUE(id)%%>" class="hist_encounters-nd_color text-right"><%%SELECT%%><%%VALUE(nd_color)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-nd_width-<%%VALUE(id)%%>" class="hist_encounters-nd_width"><%%SELECT%%><%%VALUE(nd_width)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-nd_style-<%%VALUE(id)%%>" class="hist_encounters-nd_style"><%%SELECT%%><%%VALUE(nd_style)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-nd_opacity-<%%VALUE(id)%%>" class="hist_encounters-nd_opacity"><%%SELECT%%><%%VALUE(nd_opacity)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-nd_visibility-<%%VALUE(id)%%>" class="hist_encounters-nd_visibility"><%%SELECT%%><%%VALUE(nd_visibility)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-lbl_lable-<%%VALUE(id)%%>" class="hist_encounters-lbl_lable"><%%SELECT%%><%%VALUE(lbl_lable)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-lbl_color-<%%VALUE(id)%%>" class="hist_encounters-lbl_color"><%%SELECT%%><%%VALUE(lbl_color)%%><%%ENDSELECT%%></td>
		<td id="hist_encounters-lbl_size-<%%VALUE(id)%%>" class="hist_encounters-lbl_size"><%%SELECT%%><%%VALUE(lbl_size)%%><%%ENDSELECT%%></td>
