<!-- To change the layout of the detail view form, we recommend using JS code in hooks/hist_story-dv.js rather than editing this file -->

<div id="detail-view"></div>
<div class="panel-heading"><h3 class="panel-title"><strong><%%DETAIL_VIEW_TITLE%%></strong></h3></div>

<div id="hist_story_dv_container-loading" class="text-center text-info text-bold vspacer-lg"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
<div class="panel-body hidden" id="hist_story_dv_container">
	<!-- child links -->
	<div class="row vspacer-md">
		<div class="col-xs-12 children-links">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="hist_chr_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="hist_chr_link"><i class="glyphicon glyphicon-list-alt"></i> History characters</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="hist_chr_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_hist_chr_link"><i class="glyphicon glyphicon-list-alt"></i> History characters</a>
			<input type="hidden" id="hist_chr_hclink" value="hist_chr_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="hist_chr_dev_hclink" value="hist_chr_dev_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<input type="hidden" id="hist_chr_scene_hclink" value="hist_chr_scene_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="hist_storyline_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="hist_storyline_link"><i class="glyphicon glyphicon-list-alt"></i> History storylines</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="hist_storyline_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_hist_storyline_link"><i class="glyphicon glyphicon-list-alt"></i> History storylines</a>
			<input type="hidden" id="hist_storyline_hclink" value="hist_storyline_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="hist_storystatic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="hist_storystatic_link"><i class="glyphicon glyphicon-list-alt"></i> History static storypoints</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="hist_storystatic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_hist_storystatic_link"><i class="glyphicon glyphicon-list-alt"></i> History static storypoints</a>
			<input type="hidden" id="hist_storystatic_hclink" value="hist_storystatic_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="hist_storydynamic_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="hist_storydynamic_link"><i class="glyphicon glyphicon-list-alt"></i> Hist. dynamic storypoints</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="hist_storydynamic_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_hist_storydynamic_link"><i class="glyphicon glyphicon-list-alt"></i> Hist. dynamic storypoints</a>
			<input type="hidden" id="hist_storydynamic_hclink" value="hist_storydynamic_view.php?filterer_hist_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<a class="hidden-xs btn btn-default btn-lg pull-right hidden hspacer-sm vspacer-sm" href="hist_storyweaving_scene_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="hist_storyweaving_scene_link"><i class="glyphicon glyphicon-list-alt"></i> History storyweaving scenes</a>
			<a class="visible-xs btn btn-default btn-lg btn-block hidden vspacer-sm" href="hist_storyweaving_scene_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>" id="xs_hist_storyweaving_scene_link"><i class="glyphicon glyphicon-list-alt"></i> History storyweaving scenes</a>
			<input type="hidden" id="hist_storyweaving_scene_hclink" value="hist_storyweaving_scene_view.php?filterer_story=<%%URLVALUE(id)%%>&<%%EMBEDDED%%>">
			<div class="clearfix"></div>
		</div>
	</div>
	<hr class="hidden-xs hidden-sm">

	<div class="row">
		<!-- form inputs -->
		<div class="col-md-8 col-lg-10" id="hist_story_dv_form">
			<fieldset class="form-horizontal">

				<!-- Field: Id -->
				<div class="form-group hist_story-id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="id">Id</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="id"><%%VALUE(id)%%></div>
					</div>
				</div>

				<!-- Field: Team -->
				<div class="form-group hist_story-team">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="team" data-parent_link="view_parent_modal">Team</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(team)%%><%%PLINK(team)%%><%%ADDNEW(hist_team)%%></div>
					</div>
				</div>

				<!-- Field: Project leader -->
				<div class="form-group hist_story-hist_lead_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="hist_lead_id" data-parent_link="view_parent_modal">Project leader</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(hist_lead_id)%%><%%PLINK(hist_lead_id)%%><%%ADDNEW(hist_author)%%><span id="hist_lead_idLoading"></span></div>
					</div>
				</div>

				<!-- Field: Proj. leader name -->
				<div class="form-group hist_story-hist_lead_name">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3">Proj. leader name</label>
					<div class="col-lg-9">
						<div class="form-control-static" id="hist_lead_name"></div>
					</div>
				</div>

				<!-- Field: Community name -->
				<div class="form-group hist_story-community_id">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="community_id" data-parent_link="view_parent_modal">Community name</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(community_id)%%><%%PLINK(community_id)%%><%%ADDNEW(hist_community)%%></div>
					</div>
				</div>

				<!-- Field: Story title -->
				<div class="form-group hist_story-story_title">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="story_title">Story title</label>
					<div class="col-lg-9">
						<input maxlength="250" type="text" class="form-control" name="story_title" id="story_title" value="<%%VALUE(story_title)%%>">
					</div>
				</div>

				<!-- Field: Genre -->
				<div class="form-group hist_story-genre">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="genre" data-parent_link="view_parent_modal">Genre</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(genre)%%><%%PLINK(genre)%%><%%ADDNEW(class_bibliography_genre)%%></div>
					</div>
				</div>

				<!-- Field: Approach -->
				<div class="form-group hist_story-approach">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="approach">Approach</label>
					<div class="col-lg-9">
						<input maxlength="250" type="text" class="form-control" name="approach" id="approach" value="<%%VALUE(approach)%%>">
					</div>
				</div>

				<!-- Field: Description -->
				<div class="form-group hist_story-description">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="description">Description</label>
					<div class="col-lg-9">
						<textarea class="form-control" name="description" id="description" rows=" 5"><%%VALUE(description)%%></textarea>
					</div>
				</div>

				<!-- Field: Tags -->
				<div class="form-group hist_story-tags">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="tags">Tags</label>
					<div class="col-lg-9">
						<%%COMBO(tags)%%>
					</div>
				</div>

				<!-- Field: Collaboration status -->
				<div class="form-group hist_story-collaboration_status">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="collaboration_status" data-parent_link="view_parent_modal">Collaboration status</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(collaboration_status)%%><%%PLINK(collaboration_status)%%><%%ADDNEW(class_story_collab_type)%%></div>
					</div>
				</div>

				<!-- Field: Language -->
				<div class="form-group hist_story-language">
					<hr class="hidden-md hidden-lg">
					<label class="control-label col-lg-3" for="language" data-parent_link="view_parent_modal">Language</label>
					<div class="col-lg-9">
						<div class="form-control-static" style="white-space: nowrap; overflow-x: hidden;"><%%COMBO(language)%%><%%PLINK(language)%%><%%ADDNEW(class_language)%%></div>
					</div>
				</div>

			</fieldset>
		</div>

		<!-- DV action buttons -->
		<hr class="hidden-md hidden-lg">
		<div class="col-md-4 col-lg-2" id="hist_story_dv_action_buttons">
			<div class="btn-toolbar">
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%UPDATE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%DESELECT_BUTTON%%>
					<%%DVPRINT_BUTTON%%>
					<%%DELETE_BUTTON%%>
				</div><p></p>
				<div class="btn-group-vertical btn-group-lg" style="width: 100%;">
					<%%INSERT_BUTTON%%>
				</div>
			</div>
		</div>
	</div>


	<!-- child records -->
	<hr>
	<div class="row">
		<div class="col-lg-10 col-lg-offset-1">
			<div id="hist_story-children" class="children-tabs">
				<div class="text-center"><i class="glyphicon glyphicon-refresh loop-rotate"></i> <%%TRANSLATION(Loading ...)%%></div>
			</div>
		</div>
	</div>

</div><!-- /div class="panel-body" -->
	<script>
		$j(function() {
			var add_new_mode = (!$j('input[name=SelectedID]').val());
			var embedded_mode = ($j('input[name=Embedded]').val() == 1);

			/* auto-close embedded page? */
			var autoclose_mode = ($j('input[name=AutoClose]').val() == 1);
			var record_added_ok = (location.search.split('record-added-ok=').length == 2);
			var record_updated_ok = (location.search.split('record-updated-ok=').length == 2);
			if((record_added_ok || record_updated_ok) && embedded_mode && autoclose_mode) {
				setTimeout(AppGini.closeParentModal, 2000);
			}

			/* enable DV action buttons to float on scrolling down the form */
			enable_dvab_floating();


			setTimeout(function() {
				$j('#hist_story_dv_container-loading').addClass('hidden');
				$j('#hist_story_dv_container').removeClass('hidden');
				AppGini.focusFormElement('hist_story', 'team');
			}, 1100);

			$j('form').eq(0).change(function() {
				if($j(this).data('already_changed')) return;
				if($j('#deselect').length) $j('#deselect').removeClass('btn-default').addClass('btn-warning').get(0).lastChild.data = " <%%TRANSLATION(Cancel)%%>";
				$j(this).data('already_changed', true);
			});

			$j('a[href="<%%BASE_UPLOAD_PATH%%>"]').click(function() { return false; });

			if(embedded_mode) {
				/* hide links to children tables in embedded mode */
				$j('.detail_view a[id$=_link]').remove();

				/* append embedded mode to all links */
				var append_embedded = function() {
					$j('a[href]:not([href^="#"]):not([href^="javascript"]):not([href$="Embedded=1"]):not([href*="link.php?t="]):not([href^="mailto:"])').each(
						function() {
							$j(this).attr('href', $j(this).attr('href') + '&Embedded=1');
						}
					);
				}
				setTimeout(append_embedded, 500);
				setTimeout(append_embedded, 1500);
				setTimeout(append_embedded, 2500);
				setTimeout(append_embedded, 3500);
			}

			/* when no record is selected ('add new' mode) */
			if(add_new_mode) {
				/* hide links to children tables */
				$j('.detail_view a[id$=_link]').remove();
			} else {
				post(
					'parent-children.php', {
						ParentTable: 'hist_story',
						SelectedID: '<%%VALUE(id)%%>',
						Operation: 'show-children'
					},
					'hist_story-children'
				);
			}

			if(!embedded_mode) {
				/* add a horizontal spacer to [add new parent] buttons that don't have a spacered element before them */
				$j('.add_new_parent').prev(':not(.hspacer-md)').next().addClass('hspacer-md');

				$j('.add_new_parent').click(function() {
					var pt = $j(this).attr('id').replace(/_add_new$/, '');
					modal_window({
						url: pt + '_view.php?addNew_x=1&Embedded=1',
						close: function() {
							var field_id = $j('#' + pt + '_add_new').prevAll('input:hidden').eq(0).attr('id');
							$j('#' + field_id + '-container').select2('focus').select2('focus');

							/* if a new parent was added, select it */
							var new_id = localStorage.getItem(pt + '_last_added_id');
							if(new_id === null) return;

							localStorage.clear(pt + '_last_added_id');
							AppGini.lookupText({
								id: new_id,
								table: 'hist_story',
								field: field_id,
								callback: function(data) {
									$j('#' + field_id + '-container').select2('data', data, true);
								}
							});
						},
						size: 'full',
						title: $j(this).attr('title')
					});
				});
			}

			AppGini.hideViewParentLinks();

			$j('form').on('click', '.view_parent', function() {
				var pt = $j(this).attr('id').replace(/_view_parent$/, '');
				if($j(this).prevAll('input:hidden').length) {
					var parent_id = $j(this).prevAll('input:hidden').eq(0).val();
				} else {
					var parent_id = $j(this).prevAll().children('input:hidden').eq(0).val();
				}

				/* handle radio lookups */
				if($j(this).prevAll('[type=radio]').length) {
					parent_id = $j(this).prevAll('[type=radio]').eq(0).val();
				}

				if(parent_id != '{empty_value}' && parent_id != undefined && parent_id != '') {
					var parent_link = $j(this).parents('.form-group').children('label').data('parent_link');
					switch(parent_link) {
						case 'view_parent_hidden':
							break;
						case 'view_parent_modal':
							modal_window({
								url: pt + '_view.php?Embedded=1&SelectedID=' + encodeURIComponent(parent_id),
								close: function() {
									var field_id = $j('#' + pt + '_view_parent').prevAll('input:hidden').eq(0).attr('id');
									$j('#' + field_id + '-container').select2('focus').select2('focus');
								},
								size: 'full',
								title: $j(this).attr('title')
							});
							break;
						case 'view_parent_same_window':
							window.location = pt + '_view.php?Embedded=' + (embedded_mode ? '1' : '') + '&SelectedID=' + encodeURIComponent(parent_id);
							break;
						case 'view_parent_new_window':
							window.open(pt + '_view.php?SelectedID=' + encodeURIComponent(parent_id));
							break;
					}

				}
			});


			/* load admin tools for admin user */
			if(!add_new_mode) {
				$j('body').append('<div id="admin-tools-appendix"></div>');
				$j('#admin-tools-appendix').load(
					'ajax_admin_tools.php?table=hist_story&id=<%%URLVALUE(id)%%>',
					function(resp) {
						if(!resp.length) return;
						$j.ajax('ajax_admin_tools.php?action=get_admin_tools_js&table=hist_story&id=<%%URLVALUE(id)%%>');
					}
				);
			}

			/* warn user if 'add new' clicked while unsaved changes exist */
			$j('#addNew').click(function() {
				if($j('#deselect.btn-warning').length) {
					return confirm('<%%TRANSLATION(discard changes confirm)%%>');
				}
			});

		});
	</script>