<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_storydynamic_init() hook (in hooks/hist_storydynamic.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_storydynamic-id-<%%VALUE(id)%%>" class="hist_storydynamic-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_storydynamic-hist_story-<%%VALUE(id)%%>" class="hist_storydynamic-hist_story"><%%VALUE(hist_story)%%></td>
		<td id="hist_storydynamic-bio_story_mc-<%%VALUE(id)%%>" class="hist_storydynamic-bio_story_mc text-right"><%%VALUE(bio_story_mc)%%></td>
		<td id="hist_storydynamic-hist_chr_mc-<%%VALUE(id)%%>" class="hist_storydynamic-hist_chr_mc"><%%VALUE(hist_chr_mc)%%></td>
		<td id="hist_storydynamic-storystatic_mc-<%%VALUE(id)%%>" class="hist_storydynamic-storystatic_mc"><%%VALUE(storystatic_mc)%%></td>
		<td id="hist_storydynamic-story_chr_mc-<%%VALUE(id)%%>" class="hist_storydynamic-story_chr_mc"><%%VALUE(story_chr_mc)%%></td>
		<td id="hist_storydynamic-mc_problem-<%%VALUE(id)%%>" class="hist_storydynamic-mc_problem"><%%VALUE(mc_problem)%%></td>
		<td id="hist_storydynamic-mc_resolve-<%%VALUE(id)%%>" class="hist_storydynamic-mc_resolve"><%%VALUE(mc_resolve)%%></td>
		<td id="hist_storydynamic-mc_growth-<%%VALUE(id)%%>" class="hist_storydynamic-mc_growth"><%%VALUE(mc_growth)%%></td>
		<td id="hist_storydynamic-mc_approach-<%%VALUE(id)%%>" class="hist_storydynamic-mc_approach"><%%VALUE(mc_approach)%%></td>
		<td id="hist_storydynamic-mc_ps_style-<%%VALUE(id)%%>" class="hist_storydynamic-mc_ps_style"><%%VALUE(mc_ps_style)%%></td>
		<td id="hist_storydynamic-story_chr_ic-<%%VALUE(id)%%>" class="hist_storydynamic-story_chr_ic"><%%VALUE(story_chr_ic)%%></td>
		<td id="hist_storydynamic-ic_resolve-<%%VALUE(id)%%>" class="hist_storydynamic-ic_resolve"><%%VALUE(ic_resolve)%%></td>
		<td id="hist_storydynamic-dp_cat1-<%%VALUE(id)%%>" class="hist_storydynamic-dp_cat1"><%%VALUE(dp_cat1)%%></td>
		<td id="hist_storydynamic-dp_cat2-<%%VALUE(id)%%>" class="hist_storydynamic-dp_cat2"><%%VALUE(dp_cat2)%%></td>
		<td id="hist_storydynamic-dp_cat3_driver-<%%VALUE(id)%%>" class="hist_storydynamic-dp_cat3_driver"><%%VALUE(dp_cat3_driver)%%></td>
		<td id="hist_storydynamic-os_driver-<%%VALUE(id)%%>" class="hist_storydynamic-os_driver"><%%VALUE(os_driver)%%></td>
		<td id="hist_storydynamic-dp_cat3_limit-<%%VALUE(id)%%>" class="hist_storydynamic-dp_cat3_limit"><%%VALUE(dp_cat3_limit)%%></td>
		<td id="hist_storydynamic-os_limit-<%%VALUE(id)%%>" class="hist_storydynamic-os_limit"><%%VALUE(os_limit)%%></td>
		<td id="hist_storydynamic-dp_cat3_outcome-<%%VALUE(id)%%>" class="hist_storydynamic-dp_cat3_outcome"><%%VALUE(dp_cat3_outcome)%%></td>
		<td id="hist_storydynamic-os_outcome-<%%VALUE(id)%%>" class="hist_storydynamic-os_outcome"><%%VALUE(os_outcome)%%></td>
		<td id="hist_storydynamic-dp_cat3_judgement-<%%VALUE(id)%%>" class="hist_storydynamic-dp_cat3_judgement"><%%VALUE(dp_cat3_judgement)%%></td>
		<td id="hist_storydynamic-os_judgement-<%%VALUE(id)%%>" class="hist_storydynamic-os_judgement"><%%VALUE(os_judgement)%%></td>
		<td id="hist_storydynamic-os_goal_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_goal_domain text-right"><%%VALUE(os_goal_domain)%%></td>
		<td id="hist_storydynamic-os_goal_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_goal_concern text-right"><%%VALUE(os_goal_concern)%%></td>
		<td id="hist_storydynamic-os_consequence_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_consequence_domain text-right"><%%VALUE(os_consequence_domain)%%></td>
		<td id="hist_storydynamic-os_consequence_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_consequence_concern text-right"><%%VALUE(os_consequence_concern)%%></td>
		<td id="hist_storydynamic-os_cost_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_cost_domain text-right"><%%VALUE(os_cost_domain)%%></td>
		<td id="hist_storydynamic-os_cost_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_cost_concern text-right"><%%VALUE(os_cost_concern)%%></td>
		<td id="hist_storydynamic-os_dividend_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_dividend_domain text-right"><%%VALUE(os_dividend_domain)%%></td>
		<td id="hist_storydynamic-os_dividend_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_dividend_concern text-right"><%%VALUE(os_dividend_concern)%%></td>
		<td id="hist_storydynamic-os_requirements_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_requirements_domain text-right"><%%VALUE(os_requirements_domain)%%></td>
		<td id="hist_storydynamic-os_requirements_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_requirements_concern text-right"><%%VALUE(os_requirements_concern)%%></td>
		<td id="hist_storydynamic-os_prerequesites_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_prerequesites_domain text-right"><%%VALUE(os_prerequesites_domain)%%></td>
		<td id="hist_storydynamic-os_prerequesites_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_prerequesites_concern text-right"><%%VALUE(os_prerequesites_concern)%%></td>
		<td id="hist_storydynamic-os_preconditions_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_preconditions_domain text-right"><%%VALUE(os_preconditions_domain)%%></td>
		<td id="hist_storydynamic-os_preconditions_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_preconditions_concern text-right"><%%VALUE(os_preconditions_concern)%%></td>
		<td id="hist_storydynamic-os_forewarnings_domain-<%%VALUE(id)%%>" class="hist_storydynamic-os_forewarnings_domain text-right"><%%VALUE(os_forewarnings_domain)%%></td>
		<td id="hist_storydynamic-os_forewarnings_concern-<%%VALUE(id)%%>" class="hist_storydynamic-os_forewarnings_concern text-right"><%%VALUE(os_forewarnings_concern)%%></td>
