<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_story_chrs_init() hook (in hooks/hist_story_chrs.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_story_chrs-id-<%%VALUE(id)%%>" class="hist_story_chrs-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-team-<%%VALUE(id)%%>" class="hist_story_chrs-team"><%%SELECT%%><%%VALUE(team)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-hist_lead_id-<%%VALUE(id)%%>" class="hist_story_chrs-hist_lead_id"><%%SELECT%%><%%VALUE(hist_lead_id)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-hist_lead_name-<%%VALUE(id)%%>" class="hist_story_chrs-hist_lead_name"><%%SELECT%%><%%VALUE(hist_lead_name)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-hist_story-<%%VALUE(id)%%>" class="hist_story_chrs-hist_story text-right"><%%SELECT%%><%%VALUE(hist_story)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-agent_id-<%%VALUE(id)%%>" class="hist_story_chrs-agent_id"><%%SELECT%%><%%VALUE(agent_id)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-agent_name-<%%VALUE(id)%%>" class="hist_story_chrs-agent_name"><%%SELECT%%><%%VALUE(agent_name)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-bio_story-<%%VALUE(id)%%>" class="hist_story_chrs-bio_story"><%%SELECT%%><%%VALUE(bio_story)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-story_character-<%%VALUE(id)%%>" class="hist_story_chrs-story_character"><%%SELECT%%><%%VALUE(story_character)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-story_archetype-<%%VALUE(id)%%>" class="hist_story_chrs-story_archetype text-right"><%%SELECT%%><%%VALUE(story_archetype)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-role-<%%VALUE(id)%%>" class="hist_story_chrs-role"><%%SELECT%%><%%VALUE(role)%%><%%ENDSELECT%%></td>
		<td id="hist_story_chrs-comment-<%%VALUE(id)%%>" class="hist_story_chrs-comment"><%%SELECT%%><%%VALUE(comment)%%><%%ENDSELECT%%></td>
