<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_storyline_init() hook (in hooks/hist_storyline.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_storyline-id-<%%VALUE(id)%%>" class="hist_storyline-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_storyline-story-<%%VALUE(id)%%>" class="hist_storyline-story text-right"><%%VALUE(story)%%></td>
		<td id="hist_storyline-story_act-<%%VALUE(id)%%>" class="hist_storyline-story_act"><%%VALUE(story_act)%%></td>
		<td id="hist_storyline-character-<%%VALUE(id)%%>" class="hist_storyline-character text-right"><%%VALUE(character)%%></td>
		<td id="hist_storyline-role-<%%VALUE(id)%%>" class="hist_storyline-role text-right"><%%VALUE(role)%%></td>
		<td id="hist_storyline-scene-<%%VALUE(id)%%>" class="hist_storyline-scene"><%%VALUE(scene)%%></td>
		<td id="hist_storyline-sequence-<%%VALUE(id)%%>" class="hist_storyline-sequence"><%%VALUE(sequence)%%></td>
		<td id="hist_storyline-storyline_no-<%%VALUE(id)%%>" class="hist_storyline-storyline_no"><%%VALUE(storyline_no)%%></td>
		<td id="hist_storyline-parenthetic-<%%VALUE(id)%%>" class="hist_storyline-parenthetic"><%%VALUE(parenthetic)%%></td>
		<td id="hist_storyline-storyline_title-<%%VALUE(id)%%>" class="hist_storyline-storyline_title"><%%VALUE(storyline_title)%%></td>
		<td id="hist_storyline-storyline-<%%VALUE(id)%%>" class="hist_storyline-storyline"><%%VALUE(storyline)%%></td>
		<td id="hist_storyline-notes-<%%VALUE(id)%%>" class="hist_storyline-notes"><%%VALUE(notes)%%></td>
		<td id="hist_storyline-storyweaving_scene_no-<%%VALUE(id)%%>" class="hist_storyline-storyweaving_scene_no text-right"><%%VALUE(storyweaving_scene_no)%%></td>
		<td id="hist_storyline-storyweaving_scene-<%%VALUE(id)%%>" class="hist_storyline-storyweaving_scene text-right"><%%VALUE(storyweaving_scene)%%></td>
		<td id="hist_storyline-storyweaving_sequence-<%%VALUE(id)%%>" class="hist_storyline-storyweaving_sequence text-right"><%%VALUE(storyweaving_sequence)%%></td>
		<td id="hist_storyline-storyweaving_theme-<%%VALUE(id)%%>" class="hist_storyline-storyweaving_theme text-right"><%%VALUE(storyweaving_theme)%%></td>
		<td id="hist_storyline-characterevent_scene-<%%VALUE(id)%%>" class="hist_storyline-characterevent_scene text-right"><%%VALUE(characterevent_scene)%%></td>
		<td id="hist_storyline-character_event-<%%VALUE(id)%%>" class="hist_storyline-character_event text-right"><%%VALUE(character_event)%%></td>
		<td id="hist_storyline-startdate-<%%VALUE(id)%%>" class="hist_storyline-startdate"><%%VALUE(startdate)%%></td>
		<td id="hist_storyline-enddate-<%%VALUE(id)%%>" class="hist_storyline-enddate"><%%VALUE(enddate)%%></td>
