<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_chr_scenes_init() hook (in hooks/hist_chr_scenes.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_chr_scenes-id-<%%VALUE(id)%%>" class="hist_chr_scenes-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_chr_scenes-author_id-<%%VALUE(id)%%>" class="hist_chr_scenes-author_id text-right"><%%VALUE(author_id)%%></td>
		<td id="hist_chr_scenes-author_name-<%%VALUE(id)%%>" class="hist_chr_scenes-author_name"><%%VALUE(author_name)%%></td>
		<td id="hist_chr_scenes-hist_story-<%%VALUE(id)%%>" class="hist_chr_scenes-hist_story"><%%VALUE(hist_story)%%></td>
		<td id="hist_chr_scenes-character-<%%VALUE(id)%%>" class="hist_chr_scenes-character"><%%VALUE(character)%%></td>
		<td id="hist_chr_scenes-agent_id-<%%VALUE(id)%%>" class="hist_chr_scenes-agent_id"><%%VALUE(agent_id)%%></td>
		<td id="hist_chr_scenes-agent_name-<%%VALUE(id)%%>" class="hist_chr_scenes-agent_name"><%%VALUE(agent_name)%%></td>
		<td id="hist_chr_scenes-bio_story-<%%VALUE(id)%%>" class="hist_chr_scenes-bio_story text-right"><%%VALUE(bio_story)%%></td>
		<td id="hist_chr_scenes-bio_storyline_no-<%%VALUE(id)%%>" class="hist_chr_scenes-bio_storyline_no text-right"><%%VALUE(bio_storyline_no)%%></td>
		<td id="hist_chr_scenes-bio_storyline_text-<%%VALUE(id)%%>" class="hist_chr_scenes-bio_storyline_text text-right"><%%VALUE(bio_storyline_text)%%></td>
		<td id="hist_chr_scenes-chr_element-<%%VALUE(id)%%>" class="hist_chr_scenes-chr_element"><%%VALUE(chr_element)%%></td>
		<td id="hist_chr_scenes-scene-<%%VALUE(id)%%>" class="hist_chr_scenes-scene text-right"><%%VALUE(scene)%%></td>
		<td id="hist_chr_scenes-illustration-<%%VALUE(id)%%>" class="hist_chr_scenes-illustration"><%%VALUE(illustration)%%></td>
		<td id="hist_chr_scenes-comment-<%%VALUE(id)%%>" class="hist_chr_scenes-comment text-right"><%%VALUE(comment)%%></td>
