<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the hist_encounter_init() hook (in hooks/hist_encounter.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="hist_encounter-id-<%%VALUE(id)%%>" class="hist_encounter-id text-right"><%%VALUE(id)%%></td>
		<td id="hist_encounter-hist_story-<%%VALUE(id)%%>" class="hist_encounter-hist_story"><%%VALUE(hist_story)%%></td>
		<td id="hist_encounter-agentA-<%%VALUE(id)%%>" class="hist_encounter-agentA text-right"><%%VALUE(agentA)%%></td>
		<td id="hist_encounter-agent_nameA-<%%VALUE(id)%%>" class="hist_encounter-agent_nameA text-right"><%%VALUE(agent_nameA)%%></td>
		<td id="hist_encounter-bio_storyA-<%%VALUE(id)%%>" class="hist_encounter-bio_storyA"><%%VALUE(bio_storyA)%%></td>
		<td id="hist_encounter-hist_chrA-<%%VALUE(id)%%>" class="hist_encounter-hist_chrA"><%%VALUE(hist_chrA)%%></td>
		<td id="hist_encounter-bio_chr_sceneA-<%%VALUE(id)%%>" class="hist_encounter-bio_chr_sceneA text-right"><%%VALUE(bio_chr_sceneA)%%></td>
		<td id="hist_encounter-bio_impressionA-<%%VALUE(id)%%>" class="hist_encounter-bio_impressionA"><%%VALUE(bio_impressionA)%%></td>
		<td id="hist_encounter-bio_ntA-<%%VALUE(id)%%>" class="hist_encounter-bio_ntA"><%%VALUE(bio_ntA)%%></td>
		<td id="hist_encounter-bio_counterfactualA-<%%VALUE(id)%%>" class="hist_encounter-bio_counterfactualA"><%%VALUE(bio_counterfactualA)%%></td>
		<td id="hist_encounter-bio_dilemmaA-<%%VALUE(id)%%>" class="hist_encounter-bio_dilemmaA"><%%VALUE(bio_dilemmaA)%%></td>
		<td id="hist_encounter-bio_sdgA-<%%VALUE(id)%%>" class="hist_encounter-bio_sdgA"><%%VALUE(bio_sdgA)%%></td>
		<td id="hist_encounter-startdateA-<%%VALUE(id)%%>" class="hist_encounter-startdateA"><%%VALUE(startdateA)%%></td>
		<td id="hist_encounter-enddateA-<%%VALUE(id)%%>" class="hist_encounter-enddateA"><%%VALUE(enddateA)%%></td>
		<td id="hist_encounter-sceneA-<%%VALUE(id)%%>" class="hist_encounter-sceneA text-right"><%%VALUE(sceneA)%%></td>
		<td id="hist_encounter-agentB-<%%VALUE(id)%%>" class="hist_encounter-agentB text-right"><%%VALUE(agentB)%%></td>
		<td id="hist_encounter-agent_nameB-<%%VALUE(id)%%>" class="hist_encounter-agent_nameB text-right"><%%VALUE(agent_nameB)%%></td>
		<td id="hist_encounter-bio_storyB-<%%VALUE(id)%%>" class="hist_encounter-bio_storyB"><%%VALUE(bio_storyB)%%></td>
		<td id="hist_encounter-hist_chrB-<%%VALUE(id)%%>" class="hist_encounter-hist_chrB"><%%VALUE(hist_chrB)%%></td>
		<td id="hist_encounter-bio_chr_sceneB-<%%VALUE(id)%%>" class="hist_encounter-bio_chr_sceneB text-right"><%%VALUE(bio_chr_sceneB)%%></td>
		<td id="hist_encounter-bio_impressionB-<%%VALUE(id)%%>" class="hist_encounter-bio_impressionB"><%%VALUE(bio_impressionB)%%></td>
		<td id="hist_encounter-bio_ntB-<%%VALUE(id)%%>" class="hist_encounter-bio_ntB"><%%VALUE(bio_ntB)%%></td>
		<td id="hist_encounter-bio_counterfactualB-<%%VALUE(id)%%>" class="hist_encounter-bio_counterfactualB"><%%VALUE(bio_counterfactualB)%%></td>
		<td id="hist_encounter-bio_dilemmaB-<%%VALUE(id)%%>" class="hist_encounter-bio_dilemmaB"><%%VALUE(bio_dilemmaB)%%></td>
		<td id="hist_encounter-bio_sdgB-<%%VALUE(id)%%>" class="hist_encounter-bio_sdgB"><%%VALUE(bio_sdgB)%%></td>
		<td id="hist_encounter-startdateB-<%%VALUE(id)%%>" class="hist_encounter-startdateB"><%%VALUE(startdateB)%%></td>
		<td id="hist_encounter-enddateB-<%%VALUE(id)%%>" class="hist_encounter-enddateB"><%%VALUE(enddateB)%%></td>
		<td id="hist_encounter-relation_description-<%%VALUE(id)%%>" class="hist_encounter-relation_description"><%%VALUE(relation_description)%%></td>
		<td id="hist_encounter-type-<%%VALUE(id)%%>" class="hist_encounter-type"><%%VALUE(type)%%></td>
		<td id="hist_encounter-conflicttype-<%%VALUE(id)%%>" class="hist_encounter-conflicttype"><%%VALUE(conflicttype)%%></td>
		<td id="hist_encounter-sdg_intgr-<%%VALUE(id)%%>" class="hist_encounter-sdg_intgr"><%%VALUE(sdg_intgr)%%></td>
		<td id="hist_encounter-story_scene-<%%VALUE(id)%%>" class="hist_encounter-story_scene text-right"><%%VALUE(story_scene)%%></td>
		<td id="hist_encounter-nd_color-<%%VALUE(id)%%>" class="hist_encounter-nd_color text-right"><%%VALUE(nd_color)%%></td>
		<td id="hist_encounter-nd_width-<%%VALUE(id)%%>" class="hist_encounter-nd_width"><%%VALUE(nd_width)%%></td>
		<td id="hist_encounter-nd_style-<%%VALUE(id)%%>" class="hist_encounter-nd_style"><%%VALUE(nd_style)%%></td>
		<td id="hist_encounter-nd_opacity-<%%VALUE(id)%%>" class="hist_encounter-nd_opacity"><%%VALUE(nd_opacity)%%></td>
		<td id="hist_encounter-nd_visibility-<%%VALUE(id)%%>" class="hist_encounter-nd_visibility"><%%VALUE(nd_visibility)%%></td>
		<td id="hist_encounter-lbl_lable-<%%VALUE(id)%%>" class="hist_encounter-lbl_lable"><%%VALUE(lbl_lable)%%></td>
		<td id="hist_encounter-lbl_color-<%%VALUE(id)%%>" class="hist_encounter-lbl_color"><%%VALUE(lbl_color)%%></td>
		<td id="hist_encounter-lbl_size-<%%VALUE(id)%%>" class="hist_encounter-lbl_size"><%%VALUE(lbl_size)%%></td>
		<td id="hist_encounter-encounter_team-<%%VALUE(id)%%>" class="hist_encounter-encounter_team"><%%VALUE(encounter_team)%%></td>
		<td id="hist_encounter-encounter_analyst-<%%VALUE(id)%%>" class="hist_encounter-encounter_analyst"><%%VALUE(encounter_analyst)%%></td>
