<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the  and  formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the storystatic_init() hook (in hooks/storystatic.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="storystatic-id-<%%VALUE(id)%%>" class="storystatic-id text-right"><%%VALUE(id)%%></td>
		<td id="storystatic-story-<%%VALUE(id)%%>" class="storystatic-story text-right"><%%VALUE(story)%%></td>
		<td id="storystatic-throughline-<%%VALUE(id)%%>" class="storystatic-throughline text-right"><%%VALUE(throughline)%%></td>
		<td id="storystatic-story_character_mc-<%%VALUE(id)%%>" class="storystatic-story_character_mc"><%%VALUE(story_character_mc)%%></td>
		<td id="storystatic-throughline_domain-<%%VALUE(id)%%>" class="storystatic-throughline_domain text-right"><%%VALUE(throughline_domain)%%></td>
		<td id="storystatic-concern-<%%VALUE(id)%%>" class="storystatic-concern text-right"><%%VALUE(concern)%%></td>
		<td id="storystatic-issue-<%%VALUE(id)%%>" class="storystatic-issue text-right"><%%VALUE(issue)%%></td>
		<td id="storystatic-problem-<%%VALUE(id)%%>" class="storystatic-problem text-right"><%%VALUE(problem)%%></td>
		<td id="storystatic-solution-<%%VALUE(id)%%>" class="storystatic-solution text-right"><%%VALUE(solution)%%></td>
		<td id="storystatic-symptom-<%%VALUE(id)%%>" class="storystatic-symptom text-right"><%%VALUE(symptom)%%></td>
		<td id="storystatic-response-<%%VALUE(id)%%>" class="storystatic-response text-right"><%%VALUE(response)%%></td>
		<td id="storystatic-catalyst-<%%VALUE(id)%%>" class="storystatic-catalyst text-right"><%%VALUE(catalyst)%%></td>
		<td id="storystatic-inhibitor-<%%VALUE(id)%%>" class="storystatic-inhibitor text-right"><%%VALUE(inhibitor)%%></td>
		<td id="storystatic-benchmark-<%%VALUE(id)%%>" class="storystatic-benchmark text-right"><%%VALUE(benchmark)%%></td>
		<td id="storystatic-signpost1-<%%VALUE(id)%%>" class="storystatic-signpost1"><%%VALUE(signpost1)%%></td>
		<td id="storystatic-signpost2-<%%VALUE(id)%%>" class="storystatic-signpost2"><%%VALUE(signpost2)%%></td>
		<td id="storystatic-signpost3-<%%VALUE(id)%%>" class="storystatic-signpost3"><%%VALUE(signpost3)%%></td>
		<td id="storystatic-signpost4-<%%VALUE(id)%%>" class="storystatic-signpost4"><%%VALUE(signpost4)%%></td>
