<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the storydynamic_init() hook (in hooks/storydynamic.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="storydynamic-id-<%%VALUE(id)%%>" class="storydynamic-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-story-<%%VALUE(id)%%>" class="storydynamic-story text-right"><%%SELECT%%><%%VALUE(story)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-agent-<%%VALUE(id)%%>" class="storydynamic-agent"><%%SELECT%%><%%VALUE(agent)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-story_dev_chr-<%%VALUE(id)%%>" class="storydynamic-story_dev_chr"><%%SELECT%%><%%VALUE(story_dev_chr)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-storystatic_ost-<%%VALUE(id)%%>" class="storydynamic-storystatic_ost"><%%SELECT%%><%%VALUE(storystatic_ost)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-storystatic_chr_mc-<%%VALUE(id)%%>" class="storydynamic-storystatic_chr_mc"><%%SELECT%%><%%VALUE(storystatic_chr_mc)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-mc_problem-<%%VALUE(id)%%>" class="storydynamic-mc_problem"><%%SELECT%%><%%VALUE(mc_problem)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-mc_resolve-<%%VALUE(id)%%>" class="storydynamic-mc_resolve"><%%SELECT%%><%%VALUE(mc_resolve)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-mc_growth-<%%VALUE(id)%%>" class="storydynamic-mc_growth"><%%SELECT%%><%%VALUE(mc_growth)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-mc_approach-<%%VALUE(id)%%>" class="storydynamic-mc_approach"><%%SELECT%%><%%VALUE(mc_approach)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-mc_ps_style-<%%VALUE(id)%%>" class="storydynamic-mc_ps_style"><%%SELECT%%><%%VALUE(mc_ps_style)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-ic_resolve-<%%VALUE(id)%%>" class="storydynamic-ic_resolve"><%%SELECT%%><%%VALUE(ic_resolve)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_driver-<%%VALUE(id)%%>" class="storydynamic-os_driver"><%%SELECT%%><%%VALUE(os_driver)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_limit-<%%VALUE(id)%%>" class="storydynamic-os_limit"><%%SELECT%%><%%VALUE(os_limit)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_outcome-<%%VALUE(id)%%>" class="storydynamic-os_outcome"><%%SELECT%%><%%VALUE(os_outcome)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_judgement-<%%VALUE(id)%%>" class="storydynamic-os_judgement"><%%SELECT%%><%%VALUE(os_judgement)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_goal_domain-<%%VALUE(id)%%>" class="storydynamic-os_goal_domain text-right"><%%SELECT%%><%%VALUE(os_goal_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_goal_concern-<%%VALUE(id)%%>" class="storydynamic-os_goal_concern text-right"><%%SELECT%%><%%VALUE(os_goal_concern)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_consequence_domain-<%%VALUE(id)%%>" class="storydynamic-os_consequence_domain text-right"><%%SELECT%%><%%VALUE(os_consequence_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_consequence_concern-<%%VALUE(id)%%>" class="storydynamic-os_consequence_concern text-right"><%%SELECT%%><%%VALUE(os_consequence_concern)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_cost_domain-<%%VALUE(id)%%>" class="storydynamic-os_cost_domain text-right"><%%SELECT%%><%%VALUE(os_cost_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_cost_concern-<%%VALUE(id)%%>" class="storydynamic-os_cost_concern text-right"><%%SELECT%%><%%VALUE(os_cost_concern)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_dividend_domain-<%%VALUE(id)%%>" class="storydynamic-os_dividend_domain text-right"><%%SELECT%%><%%VALUE(os_dividend_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_dividend_concern-<%%VALUE(id)%%>" class="storydynamic-os_dividend_concern text-right"><%%SELECT%%><%%VALUE(os_dividend_concern)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_requirements_domain-<%%VALUE(id)%%>" class="storydynamic-os_requirements_domain text-right"><%%SELECT%%><%%VALUE(os_requirements_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_requirements_concern-<%%VALUE(id)%%>" class="storydynamic-os_requirements_concern text-right"><%%SELECT%%><%%VALUE(os_requirements_concern)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_prerequesites_domain-<%%VALUE(id)%%>" class="storydynamic-os_prerequesites_domain text-right"><%%SELECT%%><%%VALUE(os_prerequesites_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_prerequesites_concern-<%%VALUE(id)%%>" class="storydynamic-os_prerequesites_concern text-right"><%%SELECT%%><%%VALUE(os_prerequesites_concern)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_preconditions_domain-<%%VALUE(id)%%>" class="storydynamic-os_preconditions_domain text-right"><%%SELECT%%><%%VALUE(os_preconditions_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_preconditions_concern-<%%VALUE(id)%%>" class="storydynamic-os_preconditions_concern text-right"><%%SELECT%%><%%VALUE(os_preconditions_concern)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_forewarnings_domain-<%%VALUE(id)%%>" class="storydynamic-os_forewarnings_domain text-right"><%%SELECT%%><%%VALUE(os_forewarnings_domain)%%><%%ENDSELECT%%></td>
		<td id="storydynamic-os_forewarnings_concern-<%%VALUE(id)%%>" class="storydynamic-os_forewarnings_concern text-right"><%%SELECT%%><%%VALUE(os_forewarnings_concern)%%><%%ENDSELECT%%></td>
