<!-- Edit this file to change the layout of each record in the table view -->
<!-- To disable clicking of a field, remove the <%%SELECT%%> and <%%ENDSELECT%%> formatters around it-->

<!-- If you wish to hide the table view header that contains the column titles, -->
<!-- add the following to the storypoints_static_init() hook (in hooks/storypoints_static.php file) -->
<!--     $options->ShowTableHeader = 0;     -->

		<td id="storypoints_static-id-<%%VALUE(id)%%>" class="storypoints_static-id text-right"><%%SELECT%%><%%VALUE(id)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-story-<%%VALUE(id)%%>" class="storypoints_static-story text-right"><%%SELECT%%><%%VALUE(story)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-throughline-<%%VALUE(id)%%>" class="storypoints_static-throughline text-right"><%%SELECT%%><%%VALUE(throughline)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-throughline_domain-<%%VALUE(id)%%>" class="storypoints_static-throughline_domain text-right"><%%SELECT%%><%%VALUE(throughline_domain)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-concern-<%%VALUE(id)%%>" class="storypoints_static-concern text-right"><%%SELECT%%><%%VALUE(concern)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-issue-<%%VALUE(id)%%>" class="storypoints_static-issue text-right"><%%SELECT%%><%%VALUE(issue)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-problem-<%%VALUE(id)%%>" class="storypoints_static-problem text-right"><%%SELECT%%><%%VALUE(problem)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-solution-<%%VALUE(id)%%>" class="storypoints_static-solution text-right"><%%SELECT%%><%%VALUE(solution)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-symptom-<%%VALUE(id)%%>" class="storypoints_static-symptom text-right"><%%SELECT%%><%%VALUE(symptom)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-response-<%%VALUE(id)%%>" class="storypoints_static-response text-right"><%%SELECT%%><%%VALUE(response)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-catalyst-<%%VALUE(id)%%>" class="storypoints_static-catalyst text-right"><%%SELECT%%><%%VALUE(catalyst)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-inhibitor-<%%VALUE(id)%%>" class="storypoints_static-inhibitor text-right"><%%SELECT%%><%%VALUE(inhibitor)%%><%%ENDSELECT%%></td>
		<td id="storypoints_static-benchmark-<%%VALUE(id)%%>" class="storypoints_static-benchmark text-right"><%%SELECT%%><%%VALUE(benchmark)%%><%%ENDSELECT%%></td>
