<!-- Edit this file to change the layout of the detail view print preview page -->


<div class="panel-heading"><h3 class="panel-title">
	<strong><%%DETAIL_VIEW_TITLE%%></strong>
	<div class="hidden-print pull-right">
		<div class="btn-group">
			<button type="button" id="print" onclick="window.print();" title="<%%TRANSLATION(Print)%%>" class="btn btn-primary"><i class="glyphicon glyphicon-print"></i> <%%TRANSLATION(Print)%%></button>
			<button type="submit" id="back" title="<%%TRANSLATION(Cancel Printing)%%>" class="btn btn-default"><i class="glyphicon glyphicon-remove-circle"></i> <%%TRANSLATION(Cancel Printing)%%></button>
		</div>
	</div>
	<div class="clearfix"></div>
</h3></div>

<div class="panel-body">
	<fieldset class="form-horizontal">
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">ID</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(id)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Story</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="story<%%RND1%%>"><%%COMBOTEXT(story)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Throughline</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="throughline<%%RND1%%>"><%%COMBOTEXT(throughline)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Throughline_domain</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="throughline_domain<%%RND1%%>"><%%COMBOTEXT(throughline_domain)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Concern</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="concern<%%RND1%%>"><%%COMBOTEXT(concern)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Issue</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="issue<%%RND1%%>"><%%COMBOTEXT(issue)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Problem</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="problem<%%RND1%%>"><%%COMBOTEXT(problem)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Solution</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="solution<%%RND1%%>"><%%COMBOTEXT(solution)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Symptom</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="symptom<%%RND1%%>"><%%COMBOTEXT(symptom)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Response</label>
			<div class="col-xs-9">
				<div class="form-control-static"><span id="response<%%RND1%%>"><%%COMBOTEXT(response)%%></span></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Catalyst</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(catalyst)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Inhibitor</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(inhibitor)%%></div>
			</div>
		</div>
		<div class="form-group" style="border-bottom: dotted 1px #DDD;">
			<label class="col-xs-3 control-label">Benchmark</label>
			<div class="col-xs-9">
				<div class="form-control-static"><%%VALUE(benchmark)%%></div>
			</div>
		</div>
	</fieldset>
</div>
<!-- child records -->
<div class="panel-body">
	<div id="storypoints_static-children"></div>
</div>

<script>
	$j(function(){
		/* prevent loading child records in multiple DVP */
		if($j('[id=storypoints_static-children]').length > 1) return;

		post(
			'parent-children.php', {
				ParentTable: 'storypoints_static',
				SelectedID: '<%%VALUE(id)%%>',
				Operation: 'show-children-printable'
			},
			'storypoints_static-children',
			'disable-element',
			'loading-element',
			apply_persisting_children
		);

		$j('form').on('click', '#children-tabs button[data-target]', function(){
			$j(this).toggleClass('active');
			persist_expanded_child($j(this).attr('id'));
		});
	})
</script>

